@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #E1E9FA;
        --inv-text-color: #395784;
        --icon-nav: #8A9BBD;
        --icon-nav-hover: #67779C;
        --primary-nav: #A7B3E3;
        --primary-nav-hover: #819ABF;
        --primary-nav-bg: #2E3347;
        --sub-nav: #A7B3E3;
        --sub-nav-hover: #2D3954;
        --sub-nav-bg: #2E3347;
        --base-primary: #262B3A;
        --base-sub: #1A212D;
        --base-layer: #212635;
        --base-raised: #2E3347;
        --base-border: #383A54;
        --base-input-border: var(--base-border);
        --layer-shadow: 0px 6px 8px rgba(20, 20, 23, 0.3),
        0px 8px 12px rgba(20, 20, 23, 0.3);
        --nav-shadow: inset -4px 0px 24px rgba(20, 20, 23, 0.36);
        --nav-shadow-hover: 1px 0px 6px rgba(2, 2, 3, 0.06),
        2px 0px 12px rgba(2, 2, 3, 0.08),
        4px 0px 16px rgba(2, 2, 3, 0.1);
        --card-shadow: 0px -1px 2px rgba(45, 46, 56, 0.4),
        0px 1px 2px rgba(7, 8, 10, 0.55),
        0px 2px 4px rgba(46, 47, 57, 0.1);
        --card-hover: 0px -6px 8px rgba(7, 8, 10, 0.06),
        0px 6px 8px rgba(7, 8, 10, 0.08),
        0px 8px 12px rgba(7, 8, 10, 0.16);
        --top-fade: linear-gradient(to top, rgb(33 38 53 / 0%) 0%, var(--base-primary) 40%);
        --right-fade: linear-gradient(270deg, var(--base-primary) 0%, rgb(33 38 53 / 0%) 89.17%);
        --bottom-fade: linear-gradient(to bottom, rgb(33 38 53 / 0%) 0%, var(--base-primary) 40%);
        --left-fade: linear-gradient(270deg, rgb(33 38 53 / 0%) 0%, var(--base-primary) 89.17%);
        --shadow: #0f111b;
        --dropdown: 0px -1px 2px rgba(45, 46, 56, 0.4),
        0px 1px 2px rgba(7, 8, 10, 0.55),
        0px 2px 4px rgba(46, 47, 57, 0.1);
        --alert-shadow: -1px 0px 6px rgba(2, 2, 3, 0.06),
        -2px 4px 12px rgba(2, 2, 3, 0.06),
        -4px 8px 24px rgba(2, 2, 3, 0.08);
        --inset-bttn: inset 0px 0px 16px -4px rgba(7, 8, 10, 0.24);

        --primary: #6B98F2;
        --primary-5: #2754B0;
        --primary-10: #315EB8;
        --primary-20: #3966C1;
        --primary-30: #406DC7;
        --primary-40: #4E7BD6;
        --primary-50: #5F8AE1;
        --primary-60: #6B98F2;
        --primary-70: #84ACFB;
        --primary-80: #A5C3FF;
        --primary-90: #B6CEFF;
        --primary-100: #C5D8FF;
        --primary-110: #D5E3FF;
        --primary-120: #EDF3FF;
        --primary-light-bg: #1A212D;

        --light-gray-bg: #1A212D;
        --gray: #111822;
        --gray-5: #1A2433;
        --gray-10: #2B3C54;
        --gray-20: #456087;
        --gray-30: #819ABF;
        --gray-40: #819ABF;
        --gray-50: #9AAECB;
        --gray-60: #A7B3E3;
        --gray-70: #DDE4ED;
        --gray-80: #F5F7FA;
        --gray-90: #E2E7F0;
        --gray-100: #FDFDFF;
        --gray-110: #fff;

        --critical-light: #7A181C;
        --critical-dark: #ff706c;

        --bg-note: var(--base-raised);
        --bg-note-message: #4F4D45;
        --note-text: #FFFAE0;
        --note-text-light: #C7BC8E;
        --note-highlight: #FBD050;
    }
    html:not(.light-theme) .logo svg path[fill],
    html:not(.light-theme) .logo-container svg path[fill] {
        fill: var(--text-color)
    }
    html:not(.light-theme) div.tooltip {
        background-color: var(--gray);
    }
}
.dark-theme:root {
    --text-color: #E1E9FA;
    --inv-text-color: #395784;
    --icon-nav: #8A9BBD;
    --icon-nav-hover: #67779C;
    --primary-nav: #A7B3E3;
    --primary-nav-hover: #819ABF;
    --primary-nav-bg: #2E3347;
    --sub-nav: #A7B3E3;
    --sub-nav-hover: #2D3954;
    --sub-nav-bg: #2E3347;
    --base-primary: #262B3A;
    --base-sub: #1A212D;
    --base-layer: #212635;
    --base-raised: #2E3347;
    --base-border: #383A54;
    --layer-shadow: 0px 6px 8px rgba(20, 20, 23, 0.3),
    0px 8px 12px rgba(20, 20, 23, 0.3);
    --nav-shadow: inset -4px 0px 24px rgba(20, 20, 23, 0.36);
    --nav-shadow-hover: 1px 0px 6px rgba(2, 2, 3, 0.06),
    2px 0px 12px rgba(2, 2, 3, 0.08),
    4px 0px 16px rgba(2, 2, 3, 0.1);
    --card-shadow: 0px -1px 2px rgba(45, 46, 56, 0.4),
    0px 1px 2px rgba(7, 8, 10, 0.55),
    0px 2px 4px rgba(46, 47, 57, 0.1);
    --card-hover: 0px -6px 8px rgba(7, 8, 10, 0.06),
    0px 6px 8px rgba(7, 8, 10, 0.08),
    0px 8px 12px rgba(7, 8, 10, 0.16);
    --top-fade: linear-gradient(to top, rgb(33 38 53 / 0%) 0%, var(--base-layer) 40%);
    --right-fade: linear-gradient(270deg, var(--base-layer) 0%, rgb(33 38 53 / 0%) 89.17%);
    --bottom-fade: linear-gradient(to bottom, rgb(33 38 53 / 0%) 0%, var(--base-layer) 40%);
    --left-fade: linear-gradient(270deg, rgb(33 38 53 / 0%) 0%, var(--base-layer) 89.17%);
    --shadow: #0f111b;
    --dropdown: 0px -1px 2px rgba(45, 46, 56, 0.4),
    0px 1px 2px rgba(7, 8, 10, 0.55),
    0px 2px 4px rgba(46, 47, 57, 0.1);
    --alert-shadow: -1px 0px 6px rgba(2, 2, 3, 0.06),
    -2px 4px 12px rgba(2, 2, 3, 0.06),
    -4px 8px 24px rgba(2, 2, 3, 0.08);
    --inset-bttn: inset 0px 0px 16px -4px rgba(7, 8, 10, 0.24);

    --primary: #6B98F2;
    --primary-5: #2754B0;
    --primary-10: #315EB8;
    --primary-20: #3966C1;
    --primary-30: #406DC7;
    --primary-40: #4E7BD6;
    --primary-50: #5F8AE1;
    --primary-60: #6B98F2;
    --primary-70: #84ACFB;
    --primary-80: #A5C3FF;
    --primary-90: #B6CEFF;
    --primary-100: #C5D8FF;
    --primary-110: #D5E3FF;
    --primary-120: #EDF3FF;
    --primary-light-bg: #1A212D;

    --light-gray-bg: #1A212D;
    --gray: #111822;
    --gray-5: #1A2433;
    --gray-10: #2B3C54;
    --gray-20: #456087;
    --gray-30: #819ABF;
    --gray-40: #819ABF;
    --gray-50: #9AAECB;
    --gray-60: #A7B3E3;
    --gray-70: #DDE4ED;
    --gray-80: #F5F7FA;
    --gray-90: #E2E7F0;
    --gray-100: #FDFDFF;
    --gray-110: #fff;

    --critical-light: #7A181C;
    --critical-dark: #ff706c;
}
.dark-theme .logo svg path[fill],
.dark-theme .logo-container svg path[fill] {
    fill: var(--text-color)
}
.dark-theme div.tooltip {
    background-color: var(--gray);
}
.dark-theme span.badge {
    color: var(--inv-text-color);
}