/* accordion */
.accordion {
    border-top: solid 1px;
}
.accordion-child {
    border-bottom: 1px solid;
    overflow: hidden;
    pointer-events: none;
    transition: height .2s;
}
.accordion-child > h3 {
    margin: 0;
    pointer-events: auto;
}
.accordion button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px;
    border-radius: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}
.accordion button i {
    margin-left: auto;
    transform: rotate(180deg);
    transition: transform .2s;
}
.accordion-child.hidden button i {
    transform: rotate(0deg);
}
.accordion-child .details {
    padding: 0 1.5em 1.5em;
}

/* dropdown */
.dropdown {
    position: relative;
    max-width: 20em;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2em;
    cursor: pointer;
    overflow: hidden;
}
.dropdown.open {
    overflow: visible;
}
.dropdown-label {
    position: relative;
    padding: .75em 1em;
}
.dropdown-options {
    position: absolute;
    top: 100%;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    z-index: 2;
    border-radius: 4px;
    overflow: hidden;
}

/* select */
.select .dropdown-label {
    padding-right: 2em;
}
.select .dropdown-label::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    transform: translate(0px, 0px) rotate(0deg);
    transition: transform .2s;
}
.select.open .dropdown-label::after {
    transform: translate(-5px, -5px) rotate(180deg);
}
.select .option {
    padding: .5em 1em .5em 2em;
    margin: 0;
}

.select .option {
    position: relative;
}
.select label input[type="radio"] {
    position: absolute;
    left: .5em;
    top: 50%;
    top: calc(50% - .5em);
    border: none;
    border-radius: 0;
    opacity: 0;
}
.select label input[type="radio"]:checked {
    opacity: 1;
}
.select label input[type="radio"] + span {
    margin-left: 0;
}

/* card */
.card {
    position: relative;
    padding: 24px;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 32px;
}
a.card {
    display: block;
    font-size: inherit;
    font-weight: inherit;
    text-transform: none;
}
a.card.flex {
    display: flex;
}
.card.small {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 0px;
}
.card.contained {
    border-style: solid;
    border-width: 1px;
}
.col > .card:only-child {
    min-height: 100%;
    margin-bottom: 0;
}
.card .title-bar {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.card .button-title-bar {
    justify-content: space-between;
    align-items: flex-start;
}
.card h3 {
    font-size: 20px;
    font-weight: 400;
}
.card h4,
.card .title-bar h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 32px;
}
.card h5 {
    font-weight: 400;
    margin: .5em 0;
}
.card i + h4,
.card .title-bar i + h3 {
    margin: 0 0 0 8px;
}
.card:not([class*='icon']) .title-bar > i svg path[fill] {
    fill: currentColor;
}
.card:not([class*='icon']) .title-bar svg path[stroke] {
    stroke:  currentColor;
}
.card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 8px;
}
.card.expanded .card-details i {
    align-self: flex-start;
}
.card-details + .card-details {
    margin-top: 8px;
}
.card-details > i + span,
.card-details .label {
    flex: 1 1 auto;
    margin-right: auto;
}
.card-details > i + span + span,
.card-details .label + * {
    margin-left: 32px;
}
.card-details > i {
    margin-right: 4px;
    margin-top: 3px;
}
.card-details > * + span {
    margin-left: 4px;
}
.card-details > span ~ span {
    white-space: nowrap;
}
.card-divider {
    width: auto;
    margin: 12px -24px;
    border-top: none;
    border-width: 1px;
    border-color: var(--base-border);
}
.card.mini-card {
    padding: 19px;
    border-radius: 8px;
}
.card.mini-card .item-body,
.card-mini-card h4 {
    font-size: 14px;
}
.highest > i svg path,
.high > i svg path {
	fill: var(--ext-10);
}
.medium > i svg path {
	fill: var(--ext-1);
}
.low > i svg path {
	fill: var(--success);
}
.closed > i svg path {
	fill: var(--gray-50);
}
@media (max-width: 600px) {
    .card {
        padding: 12px;
    }
    .card-details {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .card-details > i + span {
        flex: 0 0 calc(100% - 32px);
        margin-right: 0;
    }
    .card-divider {
        margin: 12px -12px;
    }
}

/* Messages */
.message-output {
    flex-shrink: 0;
    max-width: 650px;
}
.message-output.sent {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.message-output.received {
    align-self: flex-start;
}
.message-output .message-group > .user-icon,
.message-output .message-group > .flex {
    margin-top: 9px;
}
.message-output.sent .message-group > .user-icon,
.message-output.sent .message-group > .flex {
    margin-left: 7px;
}
.message-output.sent .message-group > .user-icon,
.message-output.sent .message-group > .flex > .user-icon {
    margin-right: 0;
    margin-bottom: 8px;
}
.message-output.sent .message-group > .flex .toggle-menu {
    margin-left: 0;
}
.message-output .message-group {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}
.message-output.sent .message-group {
    flex-direction: row-reverse;
}
.date-divider {
    flex-shrink: 0;
    position: relative;
    text-align: center;
    clear: both;
    padding: 5px 0;
    font-size: 14px;
    margin: 10px auto;
}
.message-label {
    display: flex;
    margin-bottom: 4px;
    margin: 0 20px;
}
.message-label .name {
    margin-right: 1em;
    font-size: 14px;
}
.message-label .edited {
    margin-right: 1em;
    font-size: 14px;
}
.message-label .time {
    font-size: 14px;
}
.message-input {
    display: flex;
    align-items: center;
    padding: .5em;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
.message-input > button {
    flex: 0 0 auto;
}
.message-input > textarea {
    resize: none;
    flex: 1 0 auto;
    max-height: 2.75em;
    margin: 0 1em;
}
.attachment-container {
    width: 100%;
	position: relative;
    display: flex;
    flex-wrap: wrap;
}
.attachment-container .file-container {
	position: relative;
	float: left;
}
.sent .attachment-container {
    justify-content: flex-end;
    margin-right: 57px;
}
.attachment-container .thumb-container {
    position: relative;
    z-index: 1;
    font-size: 12px;
    display: flex;
    flex-direction: column;
	flex: 0 0 120px;
    min-height: 120px;
    border: 1px solid var(--gray-5);
    border-radius: 8px;
    margin: 8px;
    box-shadow: 0px 8px 20px -4px rgba(34, 54, 84, 0.06);
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
	color: inherit;
    background-color: var(--base-raised);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.attachment-container .thumb-container.mini-thumb-container {
    flex: 0 0 50px;
    min-height: 50px;
    margin: 0 5px 5px 0;
}
.attachment-container .thumb-container:hover {
	box-shadow: 0px 8px 12px rgba(34, 54, 84, 0.1), 0px 6px 8px rgba(34, 54, 84, 0.08), 0px -6px 8px rgba(34, 54, 84, 0.02);
}
.thumb-container > * {
    flex-grow: 1;
}
.thumb-container span {
    font-size: 12px;
    padding: 4px;
}
.attachment-container .image-container {
    width: 100%;
    height: 110px;
    text-align: center;
    overflow: hidden;
    background: var(--base-raised) url(/toolkit/images/attachment-icon.svg) center no-repeat;
    background-size: 40%;
}
.attachment-container .mini-thumb-container .image-container {
    height: 40px;
}
.attachment-container .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.attachment-container .icon-container i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attachment-container .icon-container svg {
    width: 60%;
    height: 60%;
}
@media all and (max-width:1200px)
{
	.attachment-container .thumb-container{
		width: 38.5%;
		max-width: 120px;
		min-height: 78px;
		margin: 2% 2%;
	}
}
@media all and (max-width:707px)
{
	.attachment-container .thumb-container{
		width: 60%;
		min-width: 165px;
    	margin: 8%;
	}
}
.message {
    max-width: 600px;
    border-width: 1px;
    border-style: solid;
    word-break: break-word;
    white-space: break-spaces;
    padding: 1em 1.5em;
    margin: 4px;
    margin-bottom: 12px;
    border-radius: 16px;
    overflow: hidden;
    transition: border-radius .2s;
}
pre.message {
    font-family: inherit;
    white-space: pre-wrap;
}
.person-summary {
    font-size: 14px;
    padding: 15px 0;
    display: flex;
    flex: 0 0 33%;
    align-items: end;
}
.person-summary .name {
    font-weight: 700;
}
.modal.right .person-summary {
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--base-raised);
    border: 1px solid transparent;
}
.modal.right .person-summary:hover {
    border-color: var(--gray-5);
}
.modal.right .person-summary button{
    margin-left: auto;
    opacity: 0;
}
.modal.right .new-record {
    margin-top: 30px;
}
.modal.right .person-summary:first-child {
    margin-top: 20px;
}
.modal.right .person-summary:hover button {
    opacity: 1;
}

/* Alerts */
.notification-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 440px;
    max-width: calc(100% - 72px);
    max-height: calc(100vh - 240px);
    z-index: 100;
	padding: 32px 24px;
    overflow: hidden auto;
}
.alert,
.notification {
    position: relative;
    display: block;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    padding: 16px 20px;
    border-radius: 4px;
    text-decoration: none;
    animation: fadeIn .3s ease;
}
.alert + div,
.notification + div {
    margin-top: 1em;
}
.alert {
    border-left-width: 8px;
    border-left-style: solid;
}
.alert > *,
.notification > * {
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 0;
}
.alert > i:first-child,
.notification > i:first-child {
    flex: 0 0 24px;
}
.alert h3,
.notification h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}
.alert > .close-icon,
.notification > .close-icon {
    flex: 0 0 auto;
    padding: 0;
    border: none;
    margin-right: 0;
    margin-left: auto;
}
.alert > .close:after,
.notification > .close:after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    top: -8px;
    left: -8px;
    border-radius: 50%;
    background-color: inherit;
}
.alert .duration,
.notification .duration {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}
.alert .duration progress,
.notification .duration progress {
    display: block;
    width: 100%;
    height: 4px;
    opacity: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.alert .duration progress:not([value]),
.notification .duration progress:not([value]) {
    opacity: 0;
}
.alert .duration progress[value]::-webkit-progress-bar,
.notification .duration progress[value]::-webkit-progress-bar {
    background: transparent;
}
.alert .duration progress[value]::-webkit-progress-value,
.notification .duration progress[value]::-webkit-progress-value {
    background-color: var(--base-primary);
}


.item-row {
    display: flex;
    flex-wrap: wrap;
}
.item-row button {
    margin-left: 10px;
}
.error-message.error {
    color: var(--critical);
    font-style: italic;
}

/* Tables */
.table-wrap {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 16px;
    border: none;
}
.table-wrap:not(:hover)::-webkit-scrollbar-thumb {
    background-color: var(--gray-30);
}
.fixed-scroll {
    display: none;
    position: relative;
    z-index: 1;
    flex: 0 0 0px;
    opacity: 0;
    margin-bottom: 8px;
    pointer-events: none;
    transition: all .2s;
}
.overflow .fixed-scroll {
    display: block;
}
.overflow .fixed-scroll::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 140px;
}
.overflow.middle .fixed-scroll:first-child,
.overflow.end .fixed-scroll:first-child,
.overflow.start .fixed-scroll:nth-child(3),
.overflow.middle .fixed-scroll:nth-child(3) {
    opacity: 1;
}
.overflow .fixed-scroll:first-child::before {
    left: 0;
    background: var(--left-fade);
}
.overflow .fixed-scroll:nth-child(3)::before {
    right: 0;
    background: var(--right-fade);
}
.table-wrap ~ .text-bttn {
    margin-top: 16px;
}
table,
.table {
    width: 100%;
    min-width: 1000px;
    text-align: left;
    border-collapse: collapse;
}
table,
tr,
thead,
tfoot {
    text-align: left;
    border: none;
}
th,
.th,
td,
.td {
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
}
th,
.th {
    font-size: 16px;
    text-transform: uppercase;
    border-top: none;
}
td,
.td {
    border: none;
}
.tr {
    display: flex;
    padding-left: 20px;
    margin-bottom: 16px;
}
.tr.list-headings {
    min-width: 1000px;
}
.th,
.td {
    padding: 8px;
    flex: 1 1 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.th.icon,
.td.icon {
    flex: 0 0 56px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.td.icon > * {
    margin: 0;
}
.td.icon > .user-icon {
    flex: 0 0 40px;
    font-size: 16px;
    line-height: 40px;
    width: 40px;
    height: 40px;
}
.th.status-column,
.td.status-column {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.td.text-right {
    align-items: flex-end;
}
.th.status-column,
.th {
    align-self: flex-end;
}
.td .badge,
.status-column .badge {
    align-self: flex-start;
}
.th.auto-size,
.td.auto-size {
    flex-basis: auto;
}
.td.grow-2 {
    flex-grow: 2;
}
.num-data {
    text-align: right;
}
.sticky-cell {
    position: sticky;
    left: 0;
}

/* filter tabs */
.filter-tabs {
    flex: 0 0 auto;
    padding: 0;
    margin: 0 24px;
    display: flex;
    list-style: none;
}
.single-tab {
    font-size: 16px;
    font-weight: 600;
    flex: 0 0 auto;
    margin-left: 0;
    border-radius: 8px;
    text-decoration: none;
}
.single-tab::before {
    display: none;
}
.single-tab i {
    display: none;
}
@media (max-width: 800px) {
    .filter-tabs {
        margin: 0 8px;
    }
    .single-tab {
        font-size: 14px;
        padding: .4em 1em;
    }
}
@media (max-width: 600px) {
    .filter-tabs {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .single-tab {
        padding: .2em .5em;
    }
    .single-tab.bttn i {
        display: block;
        padding: 4px 2px;
        margin: 0;
    }
    .single-tab i + .label {
        display: none;
    }
}
.filter-tabs:first-child {
    margin-left: 0;
}

/* search bar */
.search-bar {
    position: relative;
    min-width: 40px;
    width: 40px;
    min-height: 36px;
    flex: 0 0 40px;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all .2s;
}
.search-bar.open {
    width: 100%;
    flex: 1 1 100%;
    max-width: 600px;
    border: 1px solid transparent;
}
.controls .search-bar {
    margin: 0;
}
.controls .search-bar.open:not(:only-child) {
    width: 240px;
    flex: 1 1 auto;
}
.controls .search-bar + * {
    margin-left: 8px;
}
.search-bar button {
    padding: 0;
    background-color: inherit;
    border-color: transparent;
    overflow: visible;
}
.search-bar button.clear-search {
    display: none;
}
.search-bar.open button {
    border: none;
    position: relative;
    z-index: 1;
}
.search-bar button::before {
    display: none;
}
.search-bar button > .user-icon {
    margin: 0;
}
.search-bar.open button {
    margin-left: 16px;
    background-color: transparent;
    border-color: transparent;
}
.search-bar.open .secondary-bttn {
    margin-left: 12px;
}
.search-bar.open button.clear-search {
    display: block;
    margin-left: auto;
    margin-right: 4px;
    opacity: 0;
    pointer-events: all;
    transition: opacity .1s ease-in-out;
}
.search-bar.open:hover button.clear-search {
    opacity: 1;
}
.search-bar .search-field {
    position: absolute;
    width: 100%;
    flex: 1 1 auto;
    opacity: 0;
    transition: all .2s;
    pointer-events: none;
}
.search-bar .search-field + button {
    opacity: 0;
    pointer-events: none;
}
.search-bar.open .search-field {
    opacity: 1;
    pointer-events: all;
}
.search-bar input {
    display: block;
    width: 100%;
    max-width: 100%;
    line-height: 1.6;
    padding: 6px 48px;
    background-color: var(--base-raised);
    box-shadow: none;
}
.search-bar input:focus {
    border-color: var(--primary);
}
.search-list .search-bar.open {
    transition: none;
}
.no-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--base-border);
    border-radius: 6px;
    margin-bottom: 12px;
    color: var(--gray-60);
    background-color: var(--base-layer);
}
.no-state.large {
    padding: 32px;
    border: none;
    border-radius: 0px;
    margin-top: 10vh;
    color: var(--gray-60);
    background-color: transparent;
}
.no-state .group {
    margin-bottom: 30px;
}
@media (min-width: 800px) {
    .no-state .group {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 60px;
    }
    .no-state .group > * {
        flex: 0 1 250px;
    }
}
.no-state-card-button {
    max-width: 250px;
    margin: 0 auto;
    transition: all .2s;
}
.group .no-state-card-button {
    margin: 0 8px;
}
a .no-state-card-button {
    padding: 16px;
}
a .no-state-card-button p {
    margin-bottom: 0;
}
.no-state.large i {
    font-size: 160px;
}
.no-state-card-button i svg {
    width: 100%;
    max-width: 213px;
    height: auto;
}
.no-state-card-button p {
    margin-top: 4px;
    color: var(--gray-60);
    font-size: 18px;
    opacity: 1;
    transition: opacity .2s;
}
.no-state h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: var(--gray-70);
}
.no-state p {
    text-align: center;
    max-width: 400px;
    margin-bottom: 8px;
    color: var(--gray-40);
}
.no-state.small p {
    max-width: 500px;
    color: var(--gray-60);
}
.no-state p:only-child {
    margin: 0;
}
.no-state .button-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.no-state.large .button-container {
    margin: 20px 0;
}
.patient-results .card {
    display: flex;
    flex-direction: row;
    padding: 10px 24px;
    border-radius: 8px;
}
.patient-results .item-body {
    display: flex;
    justify-content: space-between;
}
.patient-results .card .item-body .details {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 1;
    transition: opacity .2s;
}
.patient-results .card .item-body .status {
    opacity: 1;
    transition: opacity .2s;
}
.patient-results .card:hover .item-body .details {
    opacity: 1;
}
.patient-results .card:hover .item-body .status {
    opacity: 0;
}
.message-list-container .nudge {
    position: absolute;
    bottom: 16px;
    background: var(--primary-20);
    box-shadow: 0px -2px 4px rgba(34, 54, 84, 0.02), 0px 4px 8px rgba(34, 54, 84, 0.08), 0px 4px 6px -8px rgba(34, 54, 84, 0.06);
    border-radius: 4px;
    display: flex;
    color: var(--text-color);
    padding: 8px 16px;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: .3s;
    border: 2px solid var(--primary-20);
    cursor: pointer;
}
.message-list-container .nudge:hover {
    background-color: var(--gray-30);
    border-color: var(--primary-60);
    box-sizing: border-box;
    box-shadow: 0px -2px 4px rgba(34, 54, 84, 0.02), 0px 4px 8px rgba(34, 54, 84, 0.08), 0px 4px 6px -8px rgba(34, 54, 84, 0.06);
    border-radius: 4px;
}
.nudge .icon {
    padding-right: 12px;
}

.star-filter {
    display: flex;
    flex-direction: row-reverse;
}
.star-filter .star {
    cursor: pointer;
}
.star svg {
    display: block;
}
.star:hover ~ .star svg,
.star:hover svg {
    fill: #F7BF00;
}
.star.favorite svg,
.star.selected svg {
    fill: #F7BF00;
}
.toggle-menu {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    font-size: 14px;
    color: var(--gray-60);
}
.toggle-menu.open {
    z-index: 5;
}
.toggle-menu.open .tooltip {
    display: none;
}
* + .toggle-menu {
    margin-left: 8px;
}
.toggle-menu > span + .icon-bttn {
    margin-left: 4px;
}
.option-menu {
    padding: 8px 0;
    border: 1px solid var(--gray-5);
    border-radius: 8px;
    background-color: var(--base-raised);
    overflow: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    box-shadow: var(--dropdown);
    list-style-type: none;
}
.toggle-menu .option-menu {
    margin: 0;
    position: absolute;
    min-width: 120px;
    min-width: min-content;
    width: 100%;
    top: 100%;
    right: 0;
    z-index: 5;
    display: none;
}
.toggle-menu.open .option-menu {
    display: block;
}
.toggle-menu button svg {
    margin: auto;
}

.option-menu .option {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .25px;
    padding: 6px 12px;
    white-space: nowrap;
    background-color: var(--base-raised);
    color: var(--gray-70);
    cursor: pointer;
}
.option-menu .option > i {
    opacity: 0;
    margin-right: 8px;
}
.option-menu .option i svg path[fill] {
    fill: currentColor;
}
.option-menu .option:hover {
    background-color: var(--base-sub);
}
.option-menu .option:hover > i {
    opacity: .5;
}
.option-menu .option.selected {
    color: var(--primary-80);
    background-color: var(--primary-10);
}
.option-menu .option.selected i {
    opacity: 1;
}
.option-menu .option.custom-option {
    padding: 0;
    margin: 0;
    background: var(--base-raised);
}
.option-menu .option.custom-option a,
.option-menu .option.custom-option button {
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 6px 12px;
    border: none;
    background-color: var(--base-raised);
}
.option-menu .option.custom-option > .badge {
    margin: 6px 12px;
}
.option-menu .option.custom-option a:hover,
.option-menu .option.custom-option button:hover {
    background-color: var(--base-sub);
}
.option-menu .option.custom-option .add-option {
    padding: 0 12px 12px;
    background-color: var(--base-raised);
}
.option-menu .option.custom-option .add-option label {
    margin: 0;
}
.option-menu .option.custom-option .add-option input {
    width: auto;
    max-width: max-content;
    border: none;
    padding: 4px;
}
.option-menu .option.custom-option .add-option input:focus {
    box-shadow: none;
}
.option-menu.expandable{
    display: none;
}
.option-menu.expandable.expanded{
    display: block;
}
.search-list {
    position: relative;
}
.search-list .option-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 300px;
    z-index: 20;
    max-height: 300px;
}
.search-list .search-bar.open .search-field {
    transition: none;
}
.option-menu::-webkit-scrollbar {
	width: 0;
}
.option-menu:hover::-webkit-scrollbar {
	width: 8px;
}
.option-menu .option .patient-results {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.option-menu .option .patient-results .user-icon {
    margin-top: 5px;
}
.option-menu .option .patient-results .item-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
.option-menu .option .patient-results .person-info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.option-menu .option .patient-results .person-info p {
    margin-bottom: 1px;
    font-weight: 800;
    font-size: 15px;
}
.modal .form .card {
    display: flex;
    align-items: center;
    padding: 18px 24px;
    border-radius: 8px;
}
.modal .form .card button:last-child {
    margin-left: auto;
    opacity: 0;
    transition: opacity .2s;
}
.modal .form .card:hover button:last-child {
    opacity: 1;
}
.option-menu .option .form {
    display: flex;
    align-items: center;
    padding: 8px 0
}
.option-menu .option .form i,
.modal .form .card i {
    margin-right: 8px;
}
.option-menu .option .form h3 {
    font-size: 16px;
    margin-bottom: 0px;
}
span.bread-crumb {
    width: 8px;
    height: 8px;
    background-color: var(--gray-5);
    border-radius:  50%;
    margin: 0 2px;
}
span.bread-crumb.selected {
    background-color: var(--primary-30);
}
.bread-crumb-container {
    display: flex;
    margin: auto;
}
.user-info h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
.user-info h6 {
    font-size: 12px;
    margin: 2px 0 0;
}
.show-hover {
    opacity: 0;
    transition: opacity .2s;
}
.card:hover .show-hover,
.default-list-row:hover .show-hover,
*:hover > .show-hover,
.show-hover-parent:hover .show-hover {
    opacity: 1;
}
.hide-hover {
    opacity: 1;
    pointer-events: none;
    transition: opacity .2s;
}
*:hover > .hide-hover {
    opacity: 0;
    pointer-events: none;
}
.list-card .hide-hover + .show-hover {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}
/* tooltip card */
.tooltip-card {
    font-size: 14px;
    line-height: 1.6;
    text-transform: none;
    text-align: left;
    position: absolute;
    top: calc(100% - 4px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 240px;
    padding: 12px;
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    color: var(--text-color);
    background-color: var(--base-raised);
}
.tooltip-card.client-tooltip-card {
    width: 360px;
}
.tooltip-card.right {
    top: 0;
    left: calc(100% - 4px);
    transform: none;
}
.tooltip-card.left {
    top: 0;
    left: auto;
    right: calc(100% - 4px);
    transform: none;
}
.tooltip-parent:hover .tooltip-card,
.tooltip-card:hover {
    opacity: 1;
    pointer-events: all;
}
div.tooltip-card .user-icon {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}
.user-icon .tooltip-card i {
    position: static;
}
.tooltip-card .icon-bttn + .icon-bttn {
    margin-right: auto;
}
.resource-activity-group {
    position: relative;
    z-index: 10;
}
.resource-activity-group .user .user-icon {
    color: var(--text-color);
    margin: 0;
    border: 1px solid var(--base-primary);
    cursor: default;
}
.resource-activity-group .user + .user {
    margin-left: -8px;
}
.resource-activity-group .user:hover {
    position: relative;
    z-index: 1;
}
.resource-activity-group + *,
.toolbar .resource-activity-group + * {
    margin-left: 12px;
}
.resource-activity-group .user .tooltip-card .user-icon {
    margin-right: 16px;
}