.summary-profile .user-icon {
    flex: 0 0 70px;
    width: 70px;
    height: 70px;
    font-size: 24px;
    line-height: 70px;
}
.summary-page .peek-list .list .list-item {
    margin: 4px 0;
}
.summary-page .main-column.middle .conversation-side .toolbar {
    padding-top: 16px;
}