.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
}
.todo {
    display: flex;
    flex-direction: column;
}
.todo header {
    padding: 20px;
}
.todo header .filter-group {
    margin-top: 20px;
}
.todo .filter-group .single-tab {
    font-size: 16px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0 15px;
}
.todo .todo-list .card {
    flex: 1;
    flex-direction: column;
    margin: 5px 0;
}
.todo .todo-list .view {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.todo .todo-list label:not(.check-label) {
    flex: 1;
    display: flex;
    align-items: center;
}
.todo .todo-list .completed label {
    text-decoration: line-through;
}
.check-label,
label {
    margin: 0;
}
footer {
    padding: 25px;
}
footer .bttn {
    min-height: 40px;
    margin: 0 10px;
}