.composer {
    position: relative;
    flex: 1 1 auto;
    background-color: var(--base-raised);
    border: 1px solid var(--base-border);
    border-radius: 5px;
    padding: 8px 12px;
    text-align: left;
}
.composer:hover:not(.active) {
    border-color: var(--gray-60);
}
.composer.active {
    border-color: var(--primary-60);
}
.composer.note {
    color: var(--note-text);
    background-color: var(--bg-note);
}
.composer.note svg path {
    fill: var(--note-text-light);
}
.composer.active.note {
    color: var(--note-text);
    border-color: var(--note-highlight);
}
.composer.note textarea,
.composer.note textarea::placeholder,
.composer.note .single-tab.primary-60 {
    color: var(--note-text-light);
}
button.single-tab.small-tab.note.selected {
    color: var(--note-highlight);
}
button.single-tab.small-tab.note.selected::after {
    background-color: var(--note-highlight);
}
.composer .editor {
    min-width: 100px;
}
.composer.reply .text-editor button.icon-bttn.selected svg path {
    fill: var(--primary-90);
}
.composer.note .text-editor button.icon-bttn.selected svg path {
    fill: #D4A814;
}
.composer:not(.large) .text-box {
    display: flex;
    max-width: 100%;
}
.composer .text-editor {
    word-break: break-word;
}
.composer:not(.large) .text-editor {
    flex: 1 1 auto;
}
.composer:not(.large) .text-box > *:last-child {
    flex: 0 0 auto;
    align-self: flex-end;
}
.composer .text-box button.primary svg {
    stroke: var(--primary-90);
}
.composer.note .text-box button.primary svg {
    stroke: var(--note-highlight);
}
.composer.reply.show-markup .toolbar button.markup-button svg path {
    fill: var(--primary-90);
}
.composer.note.show-markup .toolbar button.markup-button svg path {
    fill: var(--note-highlight);
}
[aria-placeholder]:empty::before{
    content: attr(aria-placeholder);
    color: var(--gray-50);
    cursor: text;
}
.note [aria-placeholder]:empty::before{
    color: var(--note-text);
}