.app-nav-container .nav-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.app-nav-container .navigation {
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
	overflow-y: overlay;
}
.app-nav-container ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.app-nav-container .navigation:not(.sub) > ul {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.app-nav-container .navigation:not(.sub) ul li.bottom-nav.navigation-group {
	margin-top: auto;
}
.app-nav-container .navigation.sub:not(.inline-sub){
	z-index: 10;
	opacity: 0;
	background-color: var(--base-raised);
	box-shadow: 8px 0px 32px rgba(26, 36, 89, 0.08);
	-webkit-transform: translateX(230px);
	transform: translateX(230px);
	-webkit-transition: opacity .2s ease-in-out, transform .2s ease-in-out;
	transition: opacity .2s ease-in-out, transform .2s ease-in-out;
	pointer-events: none;
}
.app-nav-container:not(.ignoreHover):hover .navigation.sub.active{
	pointer-events: all;
	opacity: 1;
}
.app-nav-container:not(.ignoreHover):hover .navigation.sub:not(.inline-sub).active{
	-webkit-transition: opacity .2s ease-in-out, transform .2s ease-in-out;
	transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}
.app-nav-container:not(.ignoreHover):hover .navigation.sub:not(.inline-sub).one.active{
	-webkit-transform: translateX(250px);
	transform: translateX(250px);
	z-index: 10;
}
.app-nav-container:not(.ignoreHover):hover .navigation.sub:not(.inline-sub).two.active{
	-webkit-transform: translateX(500px);
	transform: translateX(500px);
	z-index: 11;
}
.app-nav-container:not(.ignoreHover):hover .navigation.sub:not(.inline-sub).three.active{
	-webkit-transform: translateX(750px);
	transform: translateX(750px);
	z-index: 12;
}
.app-nav-container .navigation.sub:hove r{
	transition-duration: .4s !important;
}
.navigation ul {
	position:relative;
	list-style:none;
	padding: 0;
	margin: 0;
}
.navigation .option {
	position: relative;
	margin: 4px 8px;
	border-radius: 4px;
	overflow: hidden;
}
.navigation .option a,
.navigation .option > div {
	padding: 0 20px;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
}
.app-nav-container .navigation .option a,
.app-nav-container .navigation .option > div {
	padding: 4px 12px;
}
.navigation .option .location {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
}
.navigation .option .location .option-menu {
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}
.navigation .option i {
	margin-right: 0;
}
.control .navigation .option i {
	font-size: 18px;
}
.label ~ i {
    margin-left: auto;
}
.navigation .option.sub > *:before{
	content: '';
	position: absolute;
	width: 8px;
	height: 14px;
	top: 0px;
	bottom: 0px;
	right: 22px;
	margin: auto 0px;
	background: url(/toolkit/images/arrow-down.svg) no-repeat center;
	transition: transform .2s ease, opacity .2s .2s ease;
}
.app-nav-container .navigation .option.sub > *:before{
	opacity: 0;
}
.app-nav-container:hover .navigation .option.sub > *:before,
.app-nav-container.pinned .navigation .option.sub > *:before{
	opacity: 1;
}
.navigation .option.sub > *.active:before{
	transform: rotate(180deg);
}
.navigation .option:hover,
.navigation .option:hover a,
.navigation:not(.sub) > ul > .option > .selected,
.navigation:not(.sub) > ul > .navigation-group > ul > .option > .selected,
.navigation:not(.sub) > ul > .navigation-group > ul > li > .option > .selected,
.navigation:not(.sub) > ul > .child-group > .option > .selected {
	box-shadow: none;
	background-color: var(--primary-nav-bg);
}
.navigation .option .icon.group{
	background-image: url(/toolkit/images/group-icon.svg);
}
.navigation .option .icon.blank{
	background-image: url(/toolkit/images/blank-icon.svg);
}
.navigation .option .label {
	width: auto;
	line-height: 2;
	font-weight: 400;
	letter-spacing: 0.25px;
	white-space: nowrap;
	color: var(--primary-nav);
	opacity: 1;
	-webkit-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
}
.navigation .option * + .label {
	margin-left: 16px;
}
.navigation .option i {
	color: var(--icon-nav);
}
.navigation .option svg {
	display: block;
}
.navigation .option svg path[fill] {
	fill: currentColor;
}
.bottom-nav .option a .user-image + .label {
    margin-left: 8px;
}
.navigation .option:hover a .label,
.navigation .option.sub:hover .label,
.navigation .option:hover .label,
.navigation .option:hover svg[fill="#819ABF"],
.navigation .option:hover svg path[fill="#819ABF"],
.navigation .option:hover i {
	color: var(--primary-nav-hover);
	fill: var(--icon-nav-hover);
}
.navigation .option .selected i,
.navigation .option .selected .label {
	font-weight: 500;
	color: var(--primary);
}
.navigation.sub.inline-sub{
	position: relative;
	display: block;
	height: auto;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: max-height .2s ease;
	-moz-transition: max-height .2s ease;
	transition: max-height .2s ease;
}
.navigation .option ~ .navigation.inline-sub.active{
	max-height: 500px;
	padding-bottom: 12px;
	transition: max-height .2s ease;
}
.navigation.inline-sub .option:first-child > a,
.navigation.inline-sub .option:first-child > div {
	padding-top: 0;
}
.navigation.inline-sub .option .label {
	line-height: 1.5;
	margin-left: 40px;
}
.drawer .navigation .option a,
.drawer .navigation .option > div {
	font-size: 14px;
	padding: 2px 12px;
}
.aside-container .drawer .navigation h2 {
	font-size: 14px;
	letter-spacing: 0.25px;
	color: var(--gray-70);
	padding: 20px 16px;
    margin: 0;
}
.aside-container .drawer .no-state p {
    margin: 0;
}
.aside-container .drawer .no-state {
	padding: 32px 20%;
}
.aside-container .drawer .no-state h2 {
	font-size: 18px;
}
.drawer .navigation .option.sub > *:before {
	content: '';
	position: absolute;
	width: 12px;
	height: 6px;
	top: 0px;
	bottom: 0px;
	right: 22px;
	margin: auto 0px;
	transition: transform .2s ease;
}
.drawer .navigation .child-group > .option > *:after{
	content: unset;
}
.drawer .navigation .option.sub ~ .navigation.sub:not(.active){
	display: none;
}
.drawer .navigation .option.sub ~ .navigation.sub.active{
	display: block;
}
.drawer .child-group .navigation.sub{
	margin: 4px 0 4px 16px;
}
.navigation .option > *.selected:after,
.app-nav-container .navigation.inline-sub.selected:after {
	transition: all .2s ease-in-out;
    height: 100%;
}
.app-nav-container .navigation.sub .option > a.selected:before {
	content: '';
    position: absolute;
    width: 6px;
    height: 6px;
	top: calc(50% - 3px);
	left: 21px;
    background-color: var(--primary);
    border-radius: 50%;
    z-index: 0;
}
.navigation:hover .option > *.selected:after {
	right: 0;
}

.horizontal.navigation {
	position: relative;
}
.date-time-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
	line-height: 1.4;
}
.date-time-navigation .secondary-bttn {
	flex-basis: 10em;
	font-size: inherit;
	border: none;
}
.date-time-navigation .secondary-bttn i {
	display: none;
}
.date-time-navigation .icon-bttn {
	margin: 0;
}
@media (max-width: 1200px) {
	.app-nav-container .pin {
		display: none;
	}
	.navigation .option a,
	.navigation .option > div {
		padding: 0 12px;
	}
}
@media (max-width: 600px) {
	.app-nav-container,
	.app-nav-container.pinned {
		position: fixed;
		height: auto;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		max-height: 48px;
		max-height: calc(48px + env(safe-area-inset-bottom));
	}
	.app-nav-container.ignoreHover, .app-nav-container.ignoreHover * {
		pointer-events: all !important;
	}
	.app-container .active-panel-container {
		margin-left: 0;
		overflow: auto;
	}
	.app-nav-container .main-navigation {
		width: auto;
		height: auto;
		padding: 0 8px;
		padding-bottom: env(safe-area-inset-bottom);
	}
	.app-nav-container .navigation {
		position: static;
		max-width: 100%;
	}
	.app-nav-container .navigation:not(.sub) {
		position: static;
	}
	.app-nav-container .logo,
	.app-nav-container .navigation .option .label,
	.navigation .option > *:after,
	.app-nav-container .navigation.inline-sub:after,
	.app-nav-container .pin {
		display: none;
	}
	.app-nav-container .navigation li {
		display: none;
	}
	.app-nav-container .navigation li.mobile {
		display: block;
	}
	.app-nav-container .navigation li.mobile ul {
		display: flex;
		align-items: center;
	}
	.app-nav-container .navigation:not(.sub) > ul {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.app-nav-container .navigation .option a,
	.app-nav-container .navigation .option > div {
		padding: 12px;
		justify-content: center;
	}
	.app-nav-container .navigation .bottom-nav .option a {
		padding: 8px;
	}
	.app-nav-container .navigation:not(.sub) ul li.bottom-nav.navigation-group {
		flex: 0 0 auto;
		width: auto;
	}
	.user-image,
	.user-image .image-container {
		width: 30px;
		height: 30px;
		margin-left: 0;
	}
	.user-image i {
		display: block;
		font-size: 30px;
	}
	.user-image .user-status {
		left: auto;
		right: 0;
	}
}