.progress-panel{
	position: absolute;
	min-height:5px;
	top: 0px;
	right: 0px;
	left: 0px;
	overflow: hidden;
	z-index:1;
}
.progress-panel .progress-container{
	position:relative;
	width: 100%;
	height:5px;
}
.progress-panel .progress{
	position:relative;
	width: 0%;
	height:5px;
	background: var(--primary);
	overflow: hidden;
	margin: 0px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
.progress-panel .progress:after {
    content: '';
    -webkit-animation: swipeRight 1s infinite ease-out;
    animation: slideRight 1s infinite ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 1;
    background: rgba(255,255,255,.7);
    backface-visibility: hidden;
}