.overlay.responses-overlay {
    background-color: var(--base-primary);
}
.overlay.responses-overlay .body {
    padding: 0 32px;
}
.overlay.responses-overlay .body > .toolbar:first-child {
    margin-top: 15px;
    margin-bottom: 25px;
}
.overlay.responses-overlay .toolbar h2 {
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 144%;
    letter-spacing: .15px;
}
/** Responses **/
.overlay.responses-overlay .response-list {
    margin-bottom: 32px;
}
.response-list .list-item .card.list-card .item-body {
    margin-left: 0;
}
.response-list .list-item .card .item-body .details > .icon-bttn {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0;
    transition-duration: .2s;
}
.response-list .list-item .card .item-body .details > .time-stamp {
    margin-left: 24px;
    text-align: right;
}
.response-list .list-item .card .item-body .details > span,
.response-list .list-item .card:hover .item-body .details > .icon-bttn {
    opacity: 1;
    transition-duration: .2s;
}
.response-list .list-item .card:hover .item-body .details > span {
    opacity: 0;
}
.hub-sub-panel .response-panel {
    display: flex;
    flex-wrap: wrap;
}
.hub-sub-panel .response-panel > button {
    float: left;
    align-self: flex-start;
    order: -1;
    margin-left: 0;
    margin-right: auto;
}
.hub-sub-panel .response-panel .search-container {
    float: right;
}
.hub-sub-panel .response-panel > .navigation,
.hub-sub-panel .response-panel > .response-details,
.hub-sub-panel .response-panel > .hub.submission-container {
    width: 100%;
    clear: both;
}
.overlay.responses-overlay .search-bar{
    max-width: 400px;
}
.overlay.responses-overlay .list .list-item .list-card,
.overlay.responses-overlay .list .list-item .archived{
    padding: 12px 24px;
    margin: 0;
}
.response-panel > .navigation > a {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 35px;
    padding: 4px 8px;
    color: var(--gray-80);
}
.response-panel > .navigation > a:after {
    content: " ";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: var(--primary-60);
}
.response-panel > .navigation > a.active:after {
    transition: width .2s ease;
    width: 100%;
}
.section-details .content img {
    display: block;
    max-width: 450px;
    margin: auto;
}
.section-input {
    position: relative;
}
.section-input .shrink {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: -36px;
}
.section-input:hover .shrink {
    opacity: 1;
}
.section-input .shrink img {
    max-width: 18px;
    max-height: 18px;
}
/** ADA Codes **/
.filter .end {
    opacity: 0;
    transition-duration: .3s;
    margin-left: auto;
    cursor: pointer;
}
.filter:hover .end {
    opacity: 1;
}
.filter .end span {
    background: var(--primary-60);
    display: block;
    width: 14px;
    height: 2px;
    margin-top: 8px;
}
.filter .end span:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.filter.remove .end span {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.filter.remove span:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotateZ(135deg);
    -moz-transform: rotateZ(135deg);
    transform: rotateZ(135deg);
}
.code-container {
    max-height: 250px;
    overflow-y: scroll;
    margin-bottom: 16px;
}
.active.code-container .filter {
    background: var(--primary-light-bg);
}
/** End ADA Codes **/
/** Response Details **/
img.file {
    max-width: 100%;
    margin: 16px auto;
    display: block;
}
.response-details .response-header {
    background-color: inherit;
    line-height: 25px;
    font-weight: bold;
    padding: 0px;
    display: flex;
    align-items: center;
}
.response-details .response-header .icon-bttn {
    margin-right: 20px;
}
.response-details .response-header .date {
    margin-left: 4px;
}
.response-details .response-header .download {
    margin-left: auto;
    font-weight: 400;
    cursor: pointer;
}
.response-details .response-header .download img {
    margin-left: 8px;
}
.response-details .category-container {
    margin: 16px 0px 32px;
    border: 1px solid var(--base-border);
	border-radius: 8px;
    background-color: var(--base-raised);
    box-shadow: 0px 8px 20px -4px rgba(34, 54, 84, 0.06);
    overflow: hidden;
}
.category-container .title {
    border-bottom: 1px solid #E2E7F0;
    font-size: 20px;
    padding: 16px;
    margin: 0px;
}
.response-details .section-details h4,
.response-details .section-details p {
    margin: 0;
}
.response-details .section-details h4 {
    margin: 0;
    background-color: var(--base-sub);
}
.response-details .section-details h4,
.response-details .section-details p,
.responses .key-value {
    padding: .5em 1em;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid #E2E7F0;
    border-bottom: 1px solid #E2E7F0;
    margin-top: -1px;
}
.response-details .section-details p,
.response-details .section-details .p.key-value .key {
    color: var(--gray-70);
    font-weight: 400;
}
.responses .key-value:hover{
	background-color: var(--base-sub);
}
.responses .key-value .key {
    padding-right: 1em;
    font-weight: 600;
    color: var(--gray-80);
}
.responses .key-value {
    overflow-wrap: break-word;
    color: var(--gray-70);
}
.responses .key-value.sub-title .value {
    min-height: initial;
}
.responses .key-value .value{
    min-height: 20px;
}
.key-value.child .key {
    flex: 0 0 28em;
    font-weight: initial;
}
.responses .key-value.bool,
.responses .key-value.boolText {
    display: flex;
}
.key-value.bool .key,
.key-value.boolText .key {
    flex-grow: 1;
}
.key-value.bool .value,
.key-value.boolText .value {
    flex-shrink: 0;
    align-self: flex-start;
    padding: 0 4px;
    border-radius: 4px;
    text-align: right;
}
.key-value.boolText.has-child {
    display: block;
    padding: 0;
    flex-wrap: wrap;
}
.key-value.boolText.has-child > .key-value.child {
    padding: 0 16px 8px;
    flex-basis: 100%;
    width: 100%;
}
.key-value.boolText.has-child .key-value.boolText {
    border: none;
}
.responses .key-value.child {
    border: none;
}
.responses .key-value.child .value {
    text-align: left;
}
.responses > .key-value.longtext {
    flex-basis: 100%;
}
.responses > .key-value.signature {
    flex-basis: 100%;
}
.key-value.signature img {
    display: block;
    width: 320px;
    max-width: 100%;
}
.responses > .key-value.p {
    flex:  1 1 100%;
    border-bottom: none;
    border-top: none;
}
.responses > .key-value.p .value {
    min-height: 0;
}
.responses > .key-value.sub-title {
    flex: 1 1 100%;
    background-color: var(--base-primary);
}
.content.response-details {
    max-width: 1032px;
    padding: 0 16px;
    margin: 24px auto;
}
.response-details .client-name {
    display: none;
}
.response-details a {
    text-decoration: none;
    color: var(--gray-70);
}

.small-print .responses > .key-value {
    flex: 1 1 25%;
}
.small-print .responses > .key-value.bool {
    flex: 0 0 25%;
}
.small-print .response-details .section-details h4,
.small-print .response-details .section-details p,
.small-print .responses .key-value {
    font-size: 12px;
}
.large-print .response-details .section-details h4,
.large-print .response-details .section-details p,
.large-print .responses .key-value {
    font-size: 20px;
}
/** End Response Details **/
@media (min-width: 801px) {
    .responses {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1px;
    }
    .responses > .key-value {
        box-sizing: border-box;
        flex: 1 1 50%;
        border-left: 1px solid var(--gray-30);
    }
    .responses > .key-value.bool,
    .responses > .key-value.boolText {
        flex: 0 0 50%;
    }
}
@media (max-width: 1400px) {
    .hub-sub-body .form-block .tab-panel {
        display: block;
    }
    .form-block > .tab-panel > .tab,
    .form-block > .tab-panel > .tab-container,
    .overlay-panel.hub-sub-panel.form .form-block .tab-content {
        max-height: none;
    }
}
@media (max-width: 1000px) {
    .response-details .response-header {
        display: block;
    }
    .response-details .response-header .controls {
        margin-top: 8px;
    }
}
@media (max-width: 800px) {
    .responses > .key-value.bool:first-child + .key-value.bool {
        padding-top: 2px;
    }
}
@media (max-width: 767px) {
    .hub-sub-panel .last a:last-child,
    .hub-sub-panel .response-panel > button,
    .hub-template-container > h2,
    .hub-template-container .templates {
        display: none;
    }
}
@media (max-width: 600px) {
    .overlay.responses-overlay .body > .toolbar:first-child {
        display: block;
    }
    .overlay.responses-overlay .body > .toolbar:first-child .controls {
        margin-top: 8px;
    }
    .overlay.responses-overlay .body > .toolbar:first-child .controls .toggle-menu {
        margin-left: auto;
    }
    .hub-sub-panel .response-panel {
        margin: 10px auto;
    }
    .hub-panel .search-bar input,
    .hub-sub-panel .search-bar input{
        width: 100%;
        box-sizing: border-box;
        height: 36px;
        line-height: 36px;
	}
    .hub-panel .search-bar,
    .hub-sub-panel .response-panel .search-container {
		margin: 0 auto;
    }
    .hub-panel .search-bar,
    .hub-sub-panel .response-panel .search-container {
	    width: 100%;
        box-sizing: border-box;
    }
    .hub-panel .content-container h2{
        display: none;
    }
    .hub-sub-panel .response-list .response-check {
        display: none;
    }
    .response-list .time{
        display: none;
    }
    .response-details .response-header button {
        display: none;
    }
    .hub-sub-panel.form a[href*="print"].btn {
        display: none;
    }
    .overlay.responses-overlay .response-list .toolbar {
        flex-wrap: wrap;
    }
    .overlay.responses-overlay .search-bar {
        max-width: 100%;
        margin-bottom: 12px;
    }
}
@media print {
    .app-nav-container,
    .side-nav,
    .aside-container:not(.bside-container) > .side.small + .main-column::after,
    .aside-container > .side.small,
    .bside-container > .side.small,
    button,
    .bttn,
    .check-match {
        display: none !important;
    }
    * {
        overflow: visible !important;
    }
    .response-details .category-container {
        margin: 0;
        box-shadow: none;
    }
    .app-container .active-panel-container {
        margin-left: 0;
    }
    .responses .key-value .key {
        overflow-wrap: break-word;
    }
    .responses {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1px;
    }
    .responses > .key-value {
        box-sizing: border-box;
        flex: 1 1 50%;
        border-left: 1px solid var(--gray-30);
    }
    .responses > .key-value.bool,
    .responses > .key-value.boolText {
        flex: 0 0 50%;
    }
    .small-print .responses > .key-value {
        box-sizing: border-box;
        flex: 1 1 25%;
        border-left: 1px solid var(--gray-30);
    }
    .small-print .responses > .key-value.bool,
    .small-print .responses > .key-value.boolText {
        flex: 0 0 25%;
    }
    img.file {
        max-width: 50%;
    }
    .key-value.boolText.has-child {
        padding: 0;
    }
    .responses > .key-value {
        border-left: 1px solid var(--gray-30);
    }
    .responses > .key-value .key,
    .responses > .key-value .value {
        min-height: auto;
        font-size: inherit;
        page-break-inside: avoid;
    }
    .key-value.bool .value,
    .key-value.boolText .value {
        margin-left: auto;
        flex-shrink: 0;
    }
    .hub-sub-panel.form .response-details .bttn {
        display: none;
    }
    .response-details .client-name {
        display: block;
    }
    @page {
        margin: 24px;
    }
}
.single-patient.archived.card {
    cursor: initial;
}