/* Atoms - base styles for all HTML elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (min-width: 1001px) {
    *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }
}
/* ---------------- BASIC HTML ELEMENTS ---------------- */
a,
a:focus,
a:active,
a:hover{
    text-decoration: none;
}
hr {
    width: 100%;
    border-style: solid;
}
.vr {
    border-left: .5px solid var(--gray-5);
    border-right: .5px solid var(--gray-5);
    margin: 0 12px;
}
/* ---------------- ICONS ---------------- */
i {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    font-variant: normal;
    display: inline-block;
    flex: 0 0 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}
i.boxicon {
    font-family: 'boxicons';
}
i svg {
    display: block;
    width: auto;
    height: 1em;
}
.circle-icon {
    border-radius: 50%;
    padding: 8px;
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto 8px;
}
.circle-icon.border {
    border: 1px solid currentColor;
    padding: 7px;
}
.circle-icon.small {
    font-size: 10px;
    padding: 0px;
    max-width: 20px;
    max-height: 20px;
    margin: 0 auto 8px;
}
button .circle-icon {
    margin: 0;
}
.circle-icon i {
    display: block;
}
.circle-icon.small i {
    font-size: 20px;
}
figure {
    margin: 0;
}
figure img {
    display: block;
}
figure.rounded {
    position: relative;
    border-radius: 8px;
}
figure.circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
figure.circle.large {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
figure.rounded .dot,
figure.circle .dot {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
}
figure.circle.large .dot {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 12px;
    height: 12px;
}
figure.rounded img,
figure.circle img {
    width: 100%;
    border-radius: inherit;
}
@supports (object-fit: cover)
{
    figure.rounded img,
    figure.circle img {
        height: 100%;
        object-fit: cover;
    }
}
/* ---------------- FORMS ---------------- */
fieldset {
    padding: 20px 0;
    border-width: 0 0 1px;
    border-style: solid;
    margin: 0 0;
}
fieldset:last-child {
    border-bottom: none;
}
fieldset legend {
    width: 100%;
    font-size: 18px;
    padding: .5em 0;
    float: left;
    clear: both;
}
fieldset legend + * {
    clear: both;
}
/* Default filled input */
input,
select,
textarea {
    display: block;
    width: 100%;
    max-width: 400px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.5;
    padding: .5em 1em;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin: 0;
}
select {
    padding: .5em 2em .5em 1em;
    -webkit-appearance: none;
    background-image: url(/toolkit/images/icons/dropdown.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
}
input.filled,
select.filled,
textarea.filled {
    border-width: 0 0 1px 0;
    border-radius: 4px 4px 0 0;
}
label {
    display: block;
    margin-bottom: 1em;
}
.col label {
    margin-bottom: 0;
}
label input,
label select,
label textarea {
    display: block;
    width: 100%;
}
label .label-text {
    display: block;
    margin-bottom: .5em;
}

::-webkit-input-placeholder {color: var(--gray-30);}
::-moz-placeholder {color: var(--gray-30);}
:-moz-placeholder {color: var(--gray-30);}
:-ms-input-placeholder {color: var(--gray-30);}
::placeholder {color: var(--gray-30);}

/* Floating outline input */

.floating {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 1em;
    margin-bottom: 1em;
}
.floating + *:not(.floating) {
    margin-top: 1em;
}
.floating input,
.floating select,
.floating textarea {
    font-size: 1em;
    border-width: 1px;
    border-radius: 4px;
}
.floating input[placeholder] + .label-text,
.floating textarea[placeholder] + .label-text {
    position: absolute;
    top: 0;
    left: 1em;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    opacity: 1;
    transform: translateY(0);
    pointer-events: none;
    transform-origin: left top;
    transition: all .2s;
}

/* Radio and check label - focus ring */
label input[type="checkbox"],
label input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
    border-width: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1em;
	cursor: pointer;
}
label input[type="radio"] {
    background-size: 1em;
    border-radius: 50%;
}
label input[type="checkbox"] + span,
label input[type="radio"] + span,
.switch-label-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-left: .8em;
}
label input[type="checkbox"] + span:empty,
label input[type="radio"] + span:empty,
.switch-label-text:empty {
    margin-left: 0;
}
.check-label,
.radio-label,
.switch-label {
    flex: 0 0 auto;
    align-self: flex-start;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: .8em;
	cursor: pointer;
}
.check-label input,
.radio-label input,
.switch-label input {
    position: relative;
    z-index: 1;
}
.check-label input + span::before,
.radio-label input + span::before,
.switch-label input + .switch-label-text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-50%);
    transition: all .2s;
}
.check-label:hover input + span::before,
.radio-label:hover input + span::before,
.switch-label:hover input + .switch-label-text::before {
    opacity: .5;
}
.check-label input:active + span::before,
.radio-label input:active + span::before,
.switch-label input:active + .switch-label-text::before {
    opacity: .75;
}
.check-label input:focus + span::before,
.radio-label input:focus + span::before,
.switch-label input:focus + .switch-label-text::before {
    opacity: 1;
}
.switch-label input[type="checkbox"] {
    flex-shrink: 0;
    width: 2.125em;
    height: .875em;
    border-radius: 1em;
    z-index: 0;
}
.switch-label input[type="checkbox"] + .switch-label-text::before {
    z-index: 1;
}
.switch-label input[type="checkbox"] + .switch-label-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: .6em;
    z-index: 2;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .2s;
}
.switch-label input[type="checkbox"]:checked + .switch-label-text::before {
    transform: translate(1.2em, -50%);
}
.switch-label input[type="checkbox"]:checked + .switch-label-text::after {
    transform: translate(1.2em, -50%);
}
.switch-label.label-before {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
@supports (max-width: max-content) {
    .switch-label.label-before {
        display: flex;
        max-width: max-content;
    }
}
.switch-label.label-before input[type="checkbox"] + .switch-label-text {
    margin-left: 0;
    margin-right: .8em;
}
.switch-label.label-before input + .switch-label-text::before {
    left: auto;
    right: 1.2em;
}
.switch-label.label-before input[type="checkbox"] + .switch-label-text::after {
    left: auto;
    right: 1.85em;
}
.radio-row,
.radio-row .radio-buttons {
    display: flex;
}
.hide {
    display: none !important;
}
.hide-after ~ * {
    display: none !important;
}
input[type="color"] {
    display: block;
    width: 40px;
    height: 40px;
    padding: 4px;
}
input[type="file"] {
    cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button {
    color: var(--gray-60);
    background-color: transparent;
    border: 1px solid var(--gray-30);
    border-radius: 4px;
    padding: .25em .5em;
}
.hidden-input {
    width: 8px;
    padding: 0 !important;
    border: none;
    margin: 0;
    opacity: 0;
}
/* tags, badges and dots */
.filter {
    display: inline-block;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    padding: .5em 1.5em;
    border-width: 1px;
    border-style: solid;
    border-radius: 3em;
    transition: all .2s;
}
.filter i.cancel {
    font-size: 0px;
    vertical-align: middle;
    transition: all .2s;
    overflow: hidden;
}
.filter:hover {
    padding-right: 1em;
}
.filter:hover i.cancel {
    font-size: 13px;
}
.filter button {
	transition: all .2s;
	width: 0;
	height: 0;
	margin: 0;
}
.filter:hover button,
.filter:active button {
	width: 30px;
    height: 30px;
    margin: -.5em -1em -.5em 0.5em;
}
.filter button:focus,
.filter button:active{
    background: transparent;
	box-shadow: none;
}
.badge {
    flex: 0 0 auto;
    align-self: center;
    display: inline-block;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    vertical-align: middle;
    font-size: .75em;
    font-weight: 600;
    line-height: 1.7;
    padding: 0 8px;
    border-radius: 20px;
    letter-spacing: .007em;
    white-space: nowrap;
}
.badge i {
    flex: 0 0 auto;
    font-size: 16px;
    margin-right: 4px;
}
.dot {
    font-size: 12px;
    line-height: 1.9;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    color: var(--light-text)
}
.dot:empty {
    font-size: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}
.square {
    display: inline-block;
    vertical-align: middle;
    flex: 0 0 .5em;
    width: .5em;
    height: .5em;
}
.status {
    display: inline-flex;
    align-items: center;
}
.status .dot {
    margin-right: 8px;
}
.score .letter {
    display: inline-block;
    font-size: 18px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
    border-radius: 4px;
    margin-left: 8px;
}
.score b {
    font-size: 18px;
}
pre {
    white-space: break-spaces;
}
progress {
    flex: 1 1 auto;
    width: 100%;
    height: 2px;
    border: none;
    -webkit-appearance: none;
}
::-webkit-progress-bar {
    background-color: var(--gray-30);
}
::-webkit-progress-value {
    background-color: var(--primary);
}
progress.success::-webkit-progress-value {
    background-color: var(--success);
}
progress.critical::-webkit-progress-value {
    background-color: var(--critical);
}
/* Tooltip */
.tooltip-parent {
    position: relative;
}
.card.tooltip-parent {
    padding: 40px;
}
.tooltip-parent:hover,
.tooltip-parent:focus {
    overflow: visible;
    z-index: 10;
}
.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    text-transform: none;
    display: block;
    white-space: nowrap;
    min-width: 3em;
    padding: 2px 8px;
    border-radius: 4px;
    opacity: 0;
    z-index: 10;
    box-shadow: 0px 8px 12px rgba(34, 54, 84, 0.1), 0px 6px 8px rgba(34, 54, 84, 0.08), 0px -6px 8px rgba(34, 54, 84, 0.02);
    pointer-events: none;
}
.tooltip.right {
    transform: none;
    right: 0;
    left: auto;
}
.tooltip.left {
    transform: none;
    left: 0;
    right: auto;
}
.tooltip.bottom {
    top: 100%;
    bottom: auto;
}
.tooltip.inside {
    flex: 0 0 auto;
    top: 0;
    bottom: auto;
    left: 4px;
    right: 4px;
    transform: none;
    overflow-wrap: break-word;
    white-space: normal;
    max-height: 100%;
    overflow: hidden;
}
.tooltip.inside.bottom {
    top: auto;
    bottom: 0;
}
.card.tooltip-parent .tooltip {
    bottom: calc(100% - 8px);
}
.tooltip.multiline {
	text-align: left;
}
.tooltip-parent:hover > .tooltip,
.tooltip-parent:focus > .tooltip {
    opacity: 1;
}
.icon-bttn.tooltip-parent i {
    margin: 0;
}

/* User icon */
.user-icon {
    position: relative;
    flex: 0 0 48px;
    align-self: flex-start;
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
}
.user-icon.hover:hover {
    outline: 2px solid var(--primary);
    outline-offset: 1px;
    cursor: pointer;
}
.user-icon.selected {
    outline: 2px solid var(--gray-80);
    outline-offset: 1px;
}
.user-icon.small {
    flex: 0 0 30px;
    font-size: 10px;
    line-height: 30px;
    width: 30px;
    height: 30px;
}
.user-icon.medium {
    flex: 0 0 40px;
    font-size: 14px;
    line-height: 40px;
    width: 40px;
    height: 40px;
}
.user-icon.large {
    font-size: 32px;
    line-height: 125px;
    flex: 0 0 125px;
    width: 125px;
    height: 125px;
    letter-spacing: 3px;
}
.user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.user-icon img[src*="user.svg"] {
    object-fit: none;
}
.user-icon i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.user-icon i svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-icon .dot {
    position: absolute;
    top: 0;
    right: 0;
}

.document {
    max-width: 867px;
    margin: 0 auto;
}
.document .header {
    margin-top: 10px;
}
.document .header h3 {
    font-weight: normal;
    font-size: 24px;
    color: var(--gray-80);
    margin-bottom: 2px;
}
.document .header p {
    font-weight: normal;
    font-size: 14px;
    color: var(--gray-60);
    margin-top: 0;
}
.document h5 {
    margin-top: 50px;
    font-weight: normal;
    font-size: 20px;
    color: var(--gray-80);
}
.document .content p {
    font-weight: normal;
    font-size: 16px;
    margin: 30px 0;
}
.document .content .image-container {
    min-height: 300px;
    background-color: var(--gray-40);
    margin: 40px 0;
}
.document .content img {
    display: block;
    width: 100%;
    height: auto;
}
.document .content ul {
    margin: 10px 0;
}
.document .content ul li {
    padding: 2px 0;
}

/* toolbar */
.toolbar {
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (max-width: 600px) {
    .toolbar {
        padding: 8px;
    }
}
.toolbar.no-padding,
.toolbar .toolbar {
	padding: 0;
}
.toolbar * + .icon-bttn {
	margin-left: 4px;
}
.toolbar .controls .icon-bttn .tooltip {
    top: 100%;
    bottom: auto;
    left: auto;
    right: 0;
    transform: none;
}
.toolbar .search-bar {
	margin-bottom: 0;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.controls .bttn.unstyled{
    padding: 0 10px;
    margin: 0 5px;
}
.controls:last-child {
    margin-left: auto;
}

@media (max-width: 600px) {
    .user-icon {
        flex: 0 0 32px;
        font-size: 14px;
        line-height: 32px;
        width: 32px;
        height: 32px;
        margin-right: 12px;
    }
    .user-icon.small {
        flex: 0 0 24px;
        font-size: 10px;
        line-height: 24px;
        width: 24px;
        height: 24px;
    }
    .user-icon.large {
        font-size: 28px;
        line-height: 80px;
        width: 80px;
        height: 80px;
        letter-spacing: 1px;
    }
}