.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
@supports (display: flex) {
    .row::after {
        display: none;
    }
}
.col {
    float: left;
    flex: 1 1 160px;
    padding-left: 16px;
    margin-bottom: 16px;
}
.col.grow-0 {
    flex-grow: 0;
}
form .col {
    margin-bottom: 8px;
}
.s-1 {
    width: 8.333%;
    flex: 0 1 8.333%;
}
.s-2 {
    width: 16.666%;
    flex: 0 1 16.666%;
}
.s-3 {
    width: 25%;
    flex: 0 1 25%;
}
.s-4 {
    width: 33.333%;
    flex: 0 1 33.333%;
}
.s-5 {
    width: 41.666%;
    flex: 0 1 41.666%;
}
.s-6 {
    width: 50%;
    flex: 0 1 50%;
}
.s-7 {
    width: 58.333%;
    flex: 0 1 58.333%;
}
.s-8 {
    width: 66.666%;
    flex: 0 1 66.666%;
}
.s-9 {
    width: 75%;
    flex: 0 1 75%;
}
.s-10 {
    width: 83.333%;
    flex: 0 1 83.333%;
}
.s-11 {
    width: 91.666%;
    flex: 0 1 91.666%;
}
.s-12 {
    width: 100%;
    flex: 1 1 100%;
}
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.direction-column {
    flex-direction: column;
}
.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.justify-start {
    justify-content: start;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: flex-end;
}
.align-self-start {
    align-self: flex-start;
}
.align-self-center {
    align-self: center;
}
.align-self-end {
    align-self: flex-end;
}
.flex-0 {
    flex: 0 0 auto;
}
.flex-1 {
    flex: 1 1 auto;
}
.flex-100-percent {
    flex: 1 1 100%;
}
.flex-24 {
    flex: 0 0 24px;
}
.flex-32 {
    flex: 0 0 32px;
}
.flex-40 {
    flex: 0 0 40px;
}
.flex-80 {
    flex: 0 0 80px;
}
.flex-120 {
    flex: 0 0 120px;
}
.flex-140 {
    flex: 0 0 140px;
}
.flex-160 {
    flex: 0 0 160px;
}
.flex-200 {
    flex: 0 0 200px;
}
.flex-240 {
    flex: 0 0 240px;
}
.flex-260 {
    flex: 0 0 260px;
}
.grow-0 {
    flex-grow: 0;
}
.grow-1 {
    flex-grow: 1;
}
.grow-2 {
    flex-grow: 2;
}
.grow-3 {
    flex-grow: 3;
}
.shrink-0 {
    flex-shrink: 0;
}
.shrink-1 {
    flex-shrink: 1;
}
.border {
    border: 1px solid currentColor;
}
.border-top {
    border-top: 2px solid currentColor;
}
.border-right {
    border-right: 2px solid currentColor;
}
.border-bottom {
    border-bottom: 2px solid currentColor;
}
.border-left {
    border-left: 2px solid currentColor;
}
.padding-0 {
    padding: 0;
}
.padding-4 {
    padding: 4px;
}
.padding-8 {
    padding: 8px;
}
.padding-12 {
    padding: 12px;
}
.padding-16 {
    padding: 16px;
}
.padding-20 {
    padding: 20px;
}
.padding-top-0 {
    padding-top: 0;
}
.padding-top-4 {
    padding-top: 4px;
}
.padding-top-small,
.padding-top-8 {
    padding-top: 8px;
}
.padding-top-12 {
    padding-top: 12px;
}
.padding-top,
.padding-top-16 {
    padding-top: 16px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-24 {
    padding-top: 24px;
}
.padding-top-medium,
.padding-top-32 {
    padding-top: 32px;
}
.padding-top-40 {
    padding-top: 40px;
}
.padding-top-large,
.padding-top-80 {
    padding-top: 80px;
}
.padding-right-0 {
    padding-right: 0;
}
.padding-right-small,
.padding-right-8 {
    padding-right: 8px;
}
.padding-right-12 {
    padding-right: 12px;
}
.padding-right,
.padding-right-16 {
    padding-right: 16px;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-right-24 {
    padding-right: 24px;
}
.padding-right-medium,
.padding-right-32 {
    padding-right: 32px;
}
.padding-right-40 {
    padding-right: 40px;
}
.padding-right-large,
.padding-right-80 {
    padding-right: 80px;
}
.padding-right-auto {
    padding-right: auto;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
.padding-bottom-4 {
    padding-bottom: 4px;
}
.padding-bottom-small,
.padding-bottom-8 {
    padding-bottom: 8px;
}
.padding-bottom-12 {
    padding-bottom: 12px;
}
.padding-bottom,
.padding-bottom-16 {
    padding-bottom: 16px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-bottom-24 {
    padding-bottom: 24px;
}
.padding-bottom-medium,
.padding-bottom-32 {
    padding-bottom: 32px;
}
.padding-bottom-40 {
    padding-bottom: 40px;
}
.padding-bottom-large,
.padding-bottom-80 {
    padding-bottom: 80px;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-left-small,
.padding-left-8 {
    padding-left: 8px;
}
.padding-left-12 {
    padding-left: 12px;
}
.padding-left,
.padding-left-16 {
    padding-left: 16px;
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-left-24 {
    padding-left: 24px;
}
.padding-left-medium,
.padding-left-32 {
    padding-left: 32px;
}
.padding-left-40 {
    padding-left: 40px;
}
.padding-left-large,
.padding-left-80 {
    padding-left: 80px;
}
.margin-0 {
    margin: 0;
}
.margin-top-0 {
    margin-top: 0;
}
.margin-top-4 {
    margin-top: 4px;
}
.margin-top-small,
.margin-top-8 {
    margin-top: 8px;
}
.margin-top-12 {
    margin-top: 12px;
}
.margin-top,
.margin-top-16 {
    margin-top: 16px;
}
.margin-top-24 {
    margin-top: 24px;
}
.margin-top-medium,
.margin-top-32 {
    margin-top: 32px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-top-large,
.margin-top-80 {
    margin-top: 80px;
}
.margin-right-0 {
    margin-right: 0;
}
.margin-right-small,
.margin-right-8 {
    margin-right: 8px;
}
.margin-right-12 {
    margin-right: 12px;
}
.margin-right,
.margin-right-16 {
    margin-right: 16px;
}
.margin-right-24 {
    margin-right: 24px;
}
.margin-right-medium,
.margin-right-32 {
    margin-right: 32px;
}
.margin-right-40 {
    margin-right: 40px;
}
.margin-right-large,
.margin-right-80 {
    margin-right: 80px;
}
.margin-right-auto {
    margin-right: auto;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-bottom-4 {
    margin-bottom: 4px;
}
.margin-bottom-small,
.margin-bottom-8 {
    margin-bottom: 8px;
}
.margin-bottom-12 {
    margin-bottom: 12px;
}
.margin-bottom,
.margin-bottom-16 {
    margin-bottom: 16px;
}
.margin-bottom-24 {
    margin-bottom: 24px;
}
.margin-bottom-medium,
.margin-bottom-32 {
    margin-bottom: 32px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-bottom-large,
.margin-bottom-80 {
    margin-bottom: 80px;
}
.margin-left-0 {
    margin-left: 0;
}
.margin-left-small,
.margin-left-8 {
    margin-left: 8px;
}
.margin-left-12 {
    margin-left: 12px;
}
.margin-left,
.margin-left-16 {
    margin-left: 16px;
}
.margin-left-24 {
    margin-left: 24px;
}
.margin-left-medium,
.margin-left-32 {
    margin-left: 32px;
}
.margin-left-40 {
    margin-left: 40px;
}
.margin-left-large,
.margin-left-80 {
    margin-left: 80px;
}
.margin-left-auto {
    margin-left: auto;
}
.width-100 {
    width: 100%;
}
.max-120 {
    max-width: 120px;
}
.max-160 {
    max-width: 160px;
}
.max-200 {
    max-width: 200px;
}
.max-240 {
    max-width: 240px;
}
.max-300 {
    max-width: 300px;
}
.max-400 {
    max-width: 400px;
}
.max-480 {
    max-width: 480px;
}
.max-600 {
    max-width: 600px;
}
.max-100-percent {
    max-width: 100%;
}
.min-h-32 {
    min-height: 32px;
}
.break-word {
    word-break: break-all;
}
.grid {
    display: grid;
    gap: 1em;
    margin-bottom: 1em;
}
.grid.col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid.col-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid.col-5 {
    grid-template-columns: repeat(5, 1fr);
}
.grid.col-6 {
    grid-template-columns: repeat(6, 1fr);
}
.grid.col-7 {
    grid-template-columns: repeat(7, 1fr);
}
.grid.col-8 {
    grid-template-columns: repeat(8, 1fr);
}
.grid.col-9 {
    grid-template-columns: repeat(9, 1fr);
}
.grid.col-10 {
    grid-template-columns: repeat(10, 1fr);
}
.grid.col-11 {
    grid-template-columns: repeat(11, 1fr);
}
.grid.col-12 {
    grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 1600px) {
    .margin-top-large,
    .margin-top-80 {
        margin-top: 32px;
    }
    .margin-right-large,
    .margin-right-80 {
        margin-right: 32px;
    }
    .margin-bottom-large,
    .margin-bottom-80 {
        margin-bottom: 32px;
    }
    .margin-left-large,
    .margin-left-80 {
        margin-left: 32px;
    }
    .grid.col-5,
    .grid.col-6,
    .grid.col-7,
    .grid.col-8 {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid.col-9,
    .grid.col-10 {
        grid-template-columns: repeat(5, 1fr);
    }
    .grid.col-11,
    .grid.col-12 {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 1200px) {
    .grid.col-6,
    .grid.col-7,
    .grid.col-8,
    .grid.col-9 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid.col-10,
    .grid.col-11,
    .grid.col-12 {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 801px) {
    .m-1 {
        width: 8.333%;
        flex: 0 1 8.333%;
    }
    .m-2 {
        width: 16.666%;
        flex: 0 1 16.666%;
    }
    .m-3 {
        width: 25%;
        flex: 0 1 25%;
    }
    .m-4 {
        width: 33.333%;
        flex: 0 1 33.333%;
    }
    .m-5 {
        width: 41.666%;
        flex: 0 1 41.666%;
    }
    .m-6 {
        width: 50%;
        flex: 0 1 50%;
    }
    .m-7 {
        width: 58.333%;
        flex: 0 1 58.333%;
    }
    .m-8 {
        width: 66.666%;
        flex: 0 1 66.666%;
    }
    .m-9 {
        width: 75%;
        flex: 0 1 75%;
    }
    .m-10 {
        width: 83.333%;
        flex: 0 1 83.333%;
    }
    .m-11 {
        width: 91.666%;
        flex: 0 1 91.666%;
    }
    .m-12 {
        width: 100%;
        flex: 1 1 100%;
    }
}

@media (min-width: 1201px) {
    .l-1 {
        width: 8.333%;
        flex: 0 1 8.333%;
    }
    .l-2 {
        width: 16.666%;
        flex: 0 1 16.666%;
    }
    .l-3 {
        width: 25%;
        flex: 0 1 25%;
    }
    .l-4 {
        width: 33.333%;
        flex: 0 1 33.333%;
    }
    .l-5 {
        width: 41.666%;
        flex: 0 1 41.666%;
    }
    .l-6 {
        width: 50%;
        flex: 0 1 50%;
    }
    .l-7 {
        width: 58.333%;
        flex: 0 1 58.333%;
    }
    .l-8 {
        width: 66.666%;
        flex: 0 1 66.666%;
    }
    .l-9 {
        width: 75%;
        flex: 0 1 75%;
    }
    .l-10 {
        width: 83.333%;
        flex: 0 1 83.333%;
    }
    .l-11 {
        width: 91.666%;
        flex: 0 1 91.666%;
    }
    .l-12 {
        width: 100%;
        flex: 1 1 100%;
    }
}

/* default - 1 column centered with a max width */
.col.s-0.m-0.l-0:only-child {
    flex: 0 1 800px;
    margin-left: auto;
    margin-right: auto;
}