@import url('fonts/fonts.css');
@import url('fonts/icons/boxicons.min.css');

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5625;
	-webkit-font-smoothing: antialiased;
}

pre{
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
	font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 16px;
	word-break: break-word;
}
h1 {
	font-size: 20px;
	line-height: 144%;
	letter-spacing: .15px;
	font-weight: 400;
}
aside h1 {
	font-size: 16px;
	margin: 0;
	padding: 16px 24px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.125em;
}
h6 {
	font-size: 1em;
}
* + p {
	margin-top: 16px;
}
.text-left {
	text-align: left;
}
.center,
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.large-text {
	font-weight: 700;
	font-size: 32px;
}
.text-10 {
	font-size: 10px;
}
.small-text,
.text-12 {
	font-size: 12px;
}
.text-14 {
	font-size: 14px;
}
.text-16 {
	font-size: 16px;
}
.text-18 {
	font-size: 18px;
}
.text-20 {
	font-size: 20px;
}
.text-24 {
	font-size: 24px;
}
.bold {
	font-weight: 600;
}