.full-container {
	min-height: 100vh;
}
.full-container.has-title {
    display: flex;
}
.full-container.has-title > h1 {
    align-self: flex-start;
	margin: 0;
	padding: 16px 24px;
}
.full-container.has-title > h1,
.full-container.has-title::after {
    content: "";
    flex: 1 1 calc(50% - 532px);
	padding: 16px 24px;
}
.contained {
	width: 100%;
	flex: 0 1 1048px;
	max-width: 1048px;
	padding: 24px;
	margin: 0 auto;
}
.contained.medium {
	flex: 0 1 848px;
	max-width: 848px;
}
.contained.small {
	flex: 0 1 648px;
	max-width: 648px;
}
.contained.large {
	flex: 0 1 1248px;
	max-width: 1248px;
}
.full-page-padding {
	padding: 24px 56px;
}
@media (max-width: 1600px) {
	.app-nav-container.pinned ~ .active-panel-container .full-container.has-title {
		display: block;
	}
}
@media (max-width: 1400px) {
	.full-container.has-title {
		display: block;
	}
}
@media (max-width: 1000px) {
	.contained {
		flex: 0 0 auto;
	}
}
@media (max-width: 600px) {
	.full-container {
		min-height: calc(100vh - 48px);
	}
	.contained {
		padding: 16px;
	}
}