.aside-container,
.bside-container {
	display: flex;
	flex-direction: column;
}
.contained-sidebar {
    max-width: 400px;
    padding: 32px;
    margin: 0 auto;
}
.main-column {
	background-color: var(--base-primary);
}
.side.small {
	background-color: var(--base-layer);
	border-color: var(--base-border);
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
}
@media (min-width: 1201px) {
	.aside-container,
	.bside-container {
		min-height: 100vh;
		flex-direction: row;
	}
	.aside-container .side,
	.bside-container .side {
		max-height: 100vh;
		flex: 0 .25 400px;
		overflow-y: auto;
		overflow-y: overlay;
	}
	.side::-webkit-scrollbar{
		width: 0;
	}
	.side:hover::-webkit-scrollbar{
		width: 8px;
	}
	.aside-container > .side.large,
	.bside-container > .side.large {
		flex: 0 1 480px;
		min-width: 360px;
		overflow-y: overlay;
	}
	.aside-container > .side.small,
	.bside-container > .side.small {
		flex: 0 0 220px;
		border-bottom-width: 0px;
	}
	.side.small:first-child {
		border-right-width: 1px;
	}
	.side.small:last-child {
		border-left-width: 1px;
	}
	.main-column {
		max-height: 100vh;
		flex: 0 1 1200px;
		margin: 0 auto;
		overflow-y: auto;
		overflow-y: overlay;
	}
	.main-column::-webkit-scrollbar{
		width: 0;
	}
	.main-column:hover::-webkit-scrollbar{
		width: 8px;
	}
	.side.small + .main-column {
		flex: 1 1 auto;
	}
}
@media (min-width: 1401px) {
	.aside-container > .side.small,
	.bside-container > .side.small {
		flex: 0 0 286px;
		border-bottom-width: 0px;
	}
}
@media (max-width: 1600px) {
	.app-nav-container.pinned ~ .active-panel-container .aside-container > .side.small,
	.app-nav-container.pinned ~ .active-panel-container .bside-container > .side.small {
		flex: 0 0 220px;
		border-bottom-width: 0px;
	}
}
@media (min-width: 1201px) and (max-width: 1600px) {
	.bside-container:not(.aside-container) {
		min-height: auto;
		flex-wrap: wrap;
	}
	.bside-container:not(.aside-container) > * {
		max-height: none;
	}
	.bside-container:not(.aside-container) .side:first-child {
		flex: 0 0 100%;
		align-self: flex-start;
	}

	.bside-container:not(.aside-container) .main-column {
		flex: 1 1 calc(100% - 400px);
	}
}
@media (min-width: 1201px) and (max-width: 1400px) {
	.aside-container.bside-container {
		flex-wrap: wrap;
	}
	.aside-container.bside-container .side {
		order: -1;
		flex: 0 0 50%;
	}
	.aside-container.bside-container > * {
		max-height: none;
	}

	.app-nav-container.pinned ~ .active-panel-container .bside-container .side {
		order: -1;
	}
	.app-nav-container.pinned ~ .active-panel-container .bside-container:not(.aside-container) .side {
		flex: 0 1 100%;
	}
}
@media (min-width: 1201px) and (max-width: 1600px) {
	.app-nav-container.pinned ~ .active-panel-container .aside-container.bside-container {
		flex-wrap: wrap;
	}
	.app-nav-container.pinned ~ .active-panel-container .aside-container.bside-container .side {
		order: -1;
		flex: 0 0 50%;
	}
	.app-nav-container.pinned ~ .active-panel-container .aside-container.bside-container > * {
		max-height: none;
	}
}
@media (max-width: 1200px) {
	.bside-container .side {
		order: -1;
	}
	.bside-container:not(.aside-container) .side {
		flex: 0 1 auto;
	}
	.main-column,
	.contained-sidebar {
		padding: 16px;
	}
}