.basic-page {
	flex: 1 1 auto;
}
.basic-page .body {
	flex: 1 1 auto;
}
.scroll-header {
    position: fixed;
    top: 0;
    left: 64px;
	right: 0;
	z-index: 10;
    display: flex;
    align-items: center;
	padding: 8px 8px 8px 0;
	transform: translateY(-100%);
	background-color: var(--base-primary);
	opacity: 0;
	box-shadow: 0px 1px 2px rgba(34, 54, 84, 0.08), 0px 2px 4px rgba(34, 54, 84, 0.1);
	transition: all .2s;
}
.scroll-header.scrolled {
	opacity: 1;
	transform: translateY(0%);
}
.app-nav-container.pinned + .active-panel-container .scroll-header {
	left: 256px;
}
.scroll-header h2 {
    font-size: 20px;
    font-weight: 400;
	flex: 1 1 calc(50% - 532px);
	padding: 0 24px;
	margin: 0;
}
.scroll-header::after {
	content: '';
	flex: 1 1 calc(50% - 532px);
	padding: 0 24px;
	text-align: right;
}
.scroll-header .header-tools {
	flex: 0 1 1064px;
	display: flex;
	align-items: center;
	padding: 0 32px;
}
.scroll-header .header-tools .search-bar {
	max-width: 590px;
	margin: 0;
}
.scroll-header .header-tools .primary-action {
	margin-left: auto;
	padding-left: 16px;
}
.list-page .list,
.list-page .card-list,
.list-summary-page .list,
.list-summary-page .card-list {
	margin-bottom: 25px;
}
.list-summary-page .main-column {
	background-color: transparent;
	overflow: visible;
}
.list-summary-page .scroll-header h2,
.list-summary-page .scroll-header::after {
	flex: 1 1 calc(50% - 532px);
}
.page-toolbar .toolbar {
	padding-left: 0;
	padding-right: 0;
}
.contained .toolbar:first-child,
.main-column .toolbar:first-child {
	padding-top: 0;
}
.page-toolbar .toolbar:first-child {
	margin-bottom: 30px;
}
.page-toolbar .toolbar .search-bar {
	min-width: auto;
	flex: 0 1 400px;
	max-width: 400px;
	margin-left: 0;
}
.page-toolbar .toolbar .search-bar + button {
	margin-left: 16px;
	flex: 0 0 auto;
}
.page-toolbar .toolbar * + .toggle-menu,
.page-toolbar .toolbar .toggle-menu + button {
	margin-left: 8px;
}
@media (max-width: 600px) {
	.scroll-header,
	.app-nav-container.pinned + .active-panel-container .scroll-header {
		left: 0;
		padding: 8px;
	}
	.scroll-header h2,
	.scroll-header::after,
	.scroll-header .primary-action button span {
		display: none;
	}
	.scroll-header .primary-action button {
		padding: .4em;
	}
	.scroll-header .primary-action button i {
		margin: 0;
	}
	.scroll-header .header-tools {
		padding: 0;
	}
	.search-bar.open button {
		margin-left: 6px;
	}
	.scroll-header .header-tools .search-bar input {
		padding: 6px;
	}
	.page-toolbar .toolbar {
		flex-wrap: wrap;
	}
	.page-toolbar .toolbar .search-bar.open {
		flex: 1 1 100%;
		margin-bottom: 12px;
	}
	.page-toolbar .toolbar .search-bar + button {
		margin: 0;
		width: 100%;
	}
}