.side:last-child .card {
    max-width: 340px;
    margin: 0 auto 32px;
}

@media (min-width: 600px) and (max-width: 1000px) {
	.bside-container:not(.aside-container) > .side:last-child .contained-sidebar {
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.bside-container > .side:last-child .contained-sidebar .card {
		flex: 1 1 calc(33.333% - 32px);
		margin: 0 16px 32px;
	}
}
@media (min-width: 600px) and (max-width: 1400px) {
	.app-nav-container.pinned ~ .active-panel-container .bside-container:not(.aside-container) > .side:last-child .contained-sidebar {
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.app-nav-container.pinned ~ .active-panel-container .bside-container > .side:last-child .contained-sidebar .card {
		flex: 1 1 calc(33.333% - 32px);
		margin: 0 16px 32px;
	}
}