.list,
.card-list {
	position: relative;
	list-style: none;
	padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.peek-list .list .list-item {
	margin: 2px 0;
}
.list .list-item {
	position: relative;
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px 0;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.list .list-item.clickable,
.list .list-item .clickable {
	cursor: pointer;
}
.list-card .toggle-menu,
.list-item .td .toggle-menu {
    opacity: 1;
	margin-left: auto;
}
.grid .list {
    flex-direction: row;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 16px;
	gap: 16px;
	margin-bottom: 32px;
}
.grid .list .list-item {
    flex: 0 1 27%;
    margin: 16px;
}
.grid .list .list-item:hover {
	z-index: 2;
}
.grid .list .list-item .toggle-menu.open .option-menu {
	display: none;
}
.grid .list .list-item:hover .toggle-menu.open .option-menu {
	display: block;
}
.grid .list-item-divider {
    grid-column: 1 / -1;
}
@supports (display: grid) {
	.grid .list .list-item {
		padding: 0;
		margin: 0;
	}
}
.list .list-item.selected {
    background-color: var(--primary-light-bg);
}
.list-content.card-list .list .list-item.selected{
	background-color: transparent;
}
.list .list-item > *:not(.card) {
	border-left: 2px solid transparent;
	border-radius: 2px 0 0 2px;
}
.list .list-item > .tr {
	border-radius: 4px;
}
.list .list-item > a:not(.card):hover,
.list .list-item > .tr:hover {
	background-color: var(--base-sub);
}
.list .list-item > .active:not(.card) {
	border-left-color: var(--primary-60);
	background-color: var(--primary-light-bg);
}
.list-content.card-list .list .list-item .active:after{
	display: none;
}
.list .list-item > * {
	flex: 1 1 1px;
	margin-bottom: 0;
}
.list-card {
	padding: 16px 24px;
	border-radius: 6px;
	cursor: pointer;
}
.list-card.inactive,
.list-card.closed {
	background: var(--base-primary);
	box-shadow: none;
}
.list-card.flex > *:first-child ~ *:not([class*="margin-left"]) {
	margin-left: 16px;
}
.list .list-item .message-icon,
.list .list-item .check-item {
	display: flex;
	align-items: center;
	margin: 0;
}
.list .list-item a {
	text-decoration: none;
	margin-bottom: 0;
}
.list-item .item-body {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.list-item .item-body header:not(:only-child) {
	margin-bottom: 4px;
}
.list-item .item-body header,
.list-item .item-body footer {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}
.list-item .item-body h4 {
	font-size: 16px;
	font-weight: 800;
	margin: 0 auto 0 0;
}
.user-icon input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
	border: none;
    border-radius: 100%;
	background-color: var(--primary-60);
	background-image: url(/toolkit/images/icons/check.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80%;
    -webkit-appearance: none;
    opacity: 0;
	cursor: pointer;
	outline: none;
}
.user-icon:hover input,
.user-icon input[type="checkbox"]:hover {
    opacity: .5;
}
.user-icon input[type="checkbox"]:checked {
    opacity: 1;
}
.user-icon.unread::after {
	content: '';
    background: var(--primary-60);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -2px;
    border: 2px solid #fff;
}
.infinite-scroll {
    position: relative;
}
.infinite-scroll .loading {
	position: fixed;
	width: 100%;
    max-width: 800px;
    height: 4px;
    overflow-x: hidden;
}
.selected-items {
	flex: 0 0 52px;
	transition: all .1s ease;
}
.selected-items.hidden {
	flex: 0 0 0px;
}
.selected-items .toolbar.selecting {
	padding-top: 0;
	padding-left: 28px;
	padding-right: 0px;
}
.selected-items .custom-actions > * {
	margin: 0 12px;
}
.selected-items .current {
	margin: 0 2em 0 auto;
}
.selected-items .control-action {
	display: flex;
}
.list .list-item .checkbox-container {
    position: relative;
    flex: 0 0 40px;
    align-self: flex-start;
    margin-left: 25px;
}
.list .list-item .checkbox-container input[type="checkbox"] {
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	border: 2px solid var(--base-border);
	border-radius: 100%;
    margin: 0;
	background-color: var(--base-raised);
	background-image: url(/toolkit/images/icons/checkmark-gray.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;
    -webkit-appearance: none;
	cursor: pointer;
    outline: none;
}
.list .list-item .checkbox-container input[type="checkbox"]:hover {
    border: 2px solid #C9C8E8;
}
.list .list-item .checkbox-container input[type="checkbox"]:checked {
    background-image: url(/toolkit/images/icons/checkmark-white.svg);
    background-color: var(--ext-3);
    border: 2px solid var(--ext-3);
}
.list .list-item .checkbox-container input[type="checkbox"]:focus {
    box-shadow: none;
}
.list .list-item-divider {
	font-size: 16px;
    color: var(--gray-60);
    padding: 40px 16px 16px;
}
.list .list-item-divider:first-child {
	padding-top: 4px;
}
.list .list-item .list-hover-item {
	padding: 6px 12px;
	border-radius: 8px;
	margin: 0 -12px;
	background-color: var(--base-primary);
	cursor: pointer;
}
.list .list-item .list-hover-item.large {
	padding: 12px 16px;
	margin: 0 -16px;
}
.list .list-item .list-hover-item:hover {
	background-color: var(--base-sub);
}
.list.table .list-item-divider {
    padding: 8px 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.list.table .list-item-divider::after {
    content: "";
    flex: 1 1 auto;
    height: 1px;
    background-color: var(--base-border);
    margin-left: 8px;
}
.list.table .list-item-divider:first-child {
	padding-top: 0px;
}
.list.table .list-item-divider:first-child::after {
    display: none;
}
@media (max-width: 800px) {
	.list .list-item .message-icon,
	.list .list-item .check-item {
		flex-wrap: wrap;
	}
}
@media (max-width: 600px) {
	.list .list-item .checkbox-container {
		flex: 0 0 36px;
	}
	.list .list-item .checkbox-container input[type="checkbox"] {
		width: 36px;
		height: 36px;
	}
	.user-icon input[type="checkbox"] {
		width: 32px;
		height: 32px;
	}
}