@keyframes shadowIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .2;
    }
}
@keyframes popIn {
    0% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}
.shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 19;
    opacity: .2;
    animation: shadowIn .2s;
}
.shadow ~ .shadow,
.shadow.confirm {
    z-index: 20;
}
.modal {
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    max-width: 646px;
    max-height: 80vh;
    margin: 0 auto;
    padding: 32px 64px;
    border-radius: 8px;
    animation: popIn .2s;
    overflow: hidden;
    word-break: break-word;
    background-color: var(--base-primary);
}
.modal ~ .modal {
    z-index: 21;
}
.modal.small {
    max-width: 540px;
}
.modal.medium,
.modal.large{
    top: 0;
    bottom: 0;
    max-height: 90vh;
    margin: auto;
}
.modal.large {
    max-width: 800px;
}
.modal.left,
.modal.right {
    padding: 32px 64px;
}
.modal.left {
    top: 0;
    left: 0;
    bottom: 0;
    max-height: 100vh;
    margin-left: 0;
    border-radius: 0;
    animation-name: pullLeftIn;
}
.modal.right {
    top: 0;
    right: 0;
    bottom: 0;
    max-height: 100vh;
    padding: 16px 24px;
    margin-right: 0;
    border-radius: 0;
    animation-name: pullRightIn;
}
.modal.right .time-picker .picker-menu,
.modal.right .date-picker .picker-menu {
    left: 50%;
    transform: translateX(-50%);
}
.modal-header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    min-height: 38px;
    margin-bottom: 32px;
}
.modal.right .modal-header {
    margin-bottom: 16px;
}
.modal-header.search-header {
    flex-wrap: wrap;
}
.modal-header.search-header > .search-list,
.modal-header.search-header > .search-bar {
    width: 100%;
    margin-top: 16px;
}
.modal .search-bar {
    margin-bottom: 0;
}
.modal-header .controls.back-arrow {
    order: -1;
    margin-left: -16px;
    margin-right: 8px;
    display: none;
}
@media (max-width: 800px) {
    .modal-header .controls.back-arrow {
        display: block;
    }
    .modal .controls .icon-bttn.close-icon {
        display: none;
    }
    .modal.medium,
    .modal.large {
        max-height: none;
    }
}
.modal.right .modal-header .controls.back-arrow {
    display: block;
}
.modal-header > i {
    padding: 12px;
    border-radius: 50%;
    margin-right: 16px;
}
.modal-header h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
    margin: 0;
}
.modal-top h3 {
    font-size: 24px;
    font-weight: 400;
}
.modal-top + hr {
    margin: 24px 0;
    width: auto;
    max-width: none;
    border-top: none;
}
.modal-header > .controls {
    line-height: 1;
    margin-left: auto;
}
.hero-header {
    margin: 0;
}
.hero-header .close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
}
.steps-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.hero-body {
    flex: 0 0 auto;
    min-height: 150px;
    background-color: var(--gray-40);
}
.hero-body img {
    display: block;
    width: 100%;
    height: auto;
}
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6 {
    font-weight: 600;
}
.modal .search-container {
    margin: 20px 0;
}
.modal header .search-container,
.modal .toolbar .search-container {
    flex: 1 1 auto;
}
.modal .patient-container {
    margin: 0 0 30px;
}
.modal .search-container .search-list {
    flex: 1 1 auto;
}
.modal .search-container .add-patients {
    display: flex;
}
.modal .search-container .secondary-bttn {
    margin-left: 10px;
}
.modal-body,
.modal-body .form-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    overflow-y: overlay;
    margin-left: -64px;
    margin-right: -64px;
    padding-left: 64px;
    padding-right: 64px;
}
.modal.right .modal-body,
.modal.right .form-body {
    margin-left: 0;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
}
.modal.right .modal-body .form-body {
    margin-left: -24px;
}
.steps-body .modal-body {
    padding: 40px;
    margin-left: 0;
    margin-right: 0;
}
.step-content .badge {
    margin-bottom: 8px;
}
.steps-body .modal-body span.badge.bg-ext-9 {
    margin-bottom: 8px;
}
.step-content h4 {
    font-size: 24px;
}
.step-content p,
.step-content ul {
    font-family: Lato;
    font-size: 14px;
    color: var(--gray-80);
}
.step-content h5 {
    font-size: 18px;
    color: var(--gray-80);
}
.form-body legend {
    font-weight: 600;
}
.form-body .floating input,
.form-body input,
.form-body .floating select,
.form-body select,
.form-body .floating textarea,
.form-body textarea {
    max-width: none;
}
.modal-body footer {
    flex: 0 0 auto;
    padding-top: 32px;
}
/**
  * Margin auto didn't work well when the button sizes change
  * Also didn't work well when there was no left button
  */
.modal-footer .bread-crumb-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
}
.modal-footer {
    padding-top: 32px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    position: relative;
}
.modal.right .modal-footer {
    padding-top: 16px;
}
.modal-footer button {
    text-align: center;
    margin-left: 8px;
}
.modal-footer .composer button {
    margin: 0;
}
.modal-footer .composer button + button {
    margin-left: 4px;
}
.modal-footer .left-button {
    float: left;
    margin-left: 0;
    margin-right: auto;
}
.modal.loading .modal-footer {
    opacity: .8;
    pointer-events: none;
}
.modal.modal.confirmation .modal-header{
    margin-bottom: 20px;
}
.modal.confirmation{
    padding: 24px 40px;
    z-index: 21;
}
.modal.confirmation h4{
    font-size: 18px;
}
.modal .floating {
    margin-bottom: .5em;
}
.modal section {
    margin-bottom: 20px;
}
.modal h5:not([class]) {
    margin: 0;
}
.modal .group:last-of-type {
    border: none;
}
.modal.confirmation .modal-footer{
    margin-top: 20px;
}
.modal.message-modal {
    padding: 0;
}
.modal.message-modal .conversation-layout {
    max-height: calc(90vh - 40px);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.location-modal .search-bar.open {
    min-width: auto;
    flex: 0 0 calc(100% - 48px);
    margin-left: 0;
}
.location-modal .option-menu {
    border: none;
    margin: 16px 0;
    box-shadow: none;
}
.location-modal .option-menu .option {
    padding: 10px 12px;
    border-radius: 4px;
}
.modal.tiny-location-modal {
    position: absolute;
    bottom: 140px;
    top: auto;
    left: 60px;
    max-width: 245px;
    padding: 0;
    transform: translateY(50%);
    background-color: transparent;
    box-shadow: none;
    animation-name: fadeIn;
}
.modal .error {
    color: var(--critical);
    font-style: italic;
    margin-top: 0;
    margin-bottom: 10px;
}
.modal.small input,
.modal.small textarea,
.modal.small select {
    max-width: 100%;
}
.send-form-modal .modal-body.has-patient .container .search-container,
.send-form-modal .modal-body:not(.has-patient) .search-container.form-search,
.send-form-modal .modal-body.has-form .search-container.form-search {
    display: none;
}
.send-form-modal .modal-body footer button[type="submit"] {
    opacity: .5;
    cursor: not-allowed;
}
.send-form-modal .modal-body.has-form.has-patient footer button[type="submit"] {
    opacity: 1;
    cursor: pointer;
}
.table-modal select {
    padding: .4em 2em .4em 1em;
}
.table-modal .flex > .flex-80 + input,
.table-modal .flex > .flex-80 + *:not(.floating) > input {
    padding: .2em 1em;
}
.table-modal .progress-item .ratio {
    order: -1;
    margin: 0;
}
@media (max-width: 800px) {
    .modal {
        top: auto;
        bottom: 5vh;
        max-height: 90vh;
        padding: 24px;
    }
    .modal.left,
    .modal.right {
        padding: 24px;
    }
    .steps-body {
        margin: -24px -24px 32px;
        min-height: 160px;
    }
    .steps-body .modal-body {
        padding: 24px;
    }
    .hero-header .back-bttn {
        position: absolute;
        top: 8px;
        left: 8px;
    }
    .modal-body .form-body {
        margin-right: -24px;
        padding-right: 24px;
    }
    .modal-header h4 {
        font-size: 18px;
    }
}