.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--base-primary);
    z-index: 10;
    -webkit-animation: fadeIn .2s ease-in-out;
    animation: fadeIn .2s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform, opacity;
    overflow: hidden;
}
.overlay.inline {
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    animation: none;
    will-change: unset;
}
.overlay .main-container{
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
}
.overlay header h1 {
    padding-left: 64px;
}
.overlay .nav-header {
    display: flex;
    align-items: center;
}
.overlay .main-column {
    overflow-x: hidden;
}
.overlay.inline-navigation .side h1 {
    margin-left: 32px;
}
@media (max-width: 1400px)
{
    .overlay {
        flex-direction: column;
        overflow: auto;
    }
}
@media (max-width: 600px) {
    .overlay .main-column,
    .overlay .main-container .body.contained {
        padding: 8px 16px 16px;
    }
}