.quick-actions {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
}
.quick-actions > .bttn,
.quick-actions > button {
    margin: 0 4px;
}
.quick-actions .bttn.inactive,
.quick-actions .bttn.inactive:hover {
    pointer-events: none;
}
.quick-actions .bttn.inactive svg,
.quick-actions .bttn.inactive:hover svg {
    opacity: .3;
}
.quick-actions.right {
    position: absolute;
    left: calc(100% - 26px);
    display: flex;
    flex-direction: column;
    width: 160px;
}
.quick-actions.white > * {
    background-color: var(--base-raised);
    border: 1px solid var(--base-border);
    padding: 11px;
    border-radius: 48px;
    box-shadow: 0px 1px 2px rgba(34, 54, 84, 0.08), 0px 2px 4px rgba(34, 54, 84, 0.1);
}
.quick-actions.right > * {
    justify-content: flex-start;
    margin: 4px 0;
    z-index: 1;
}
.quick-actions.white.right > * {
    background-color: var(--base-raised);
    border: 1px solid var(--base-border);
    position: relative;
    box-shadow: 0px 1px 2px rgba(34, 54, 84, 0.08), 0px 2px 4px rgba(34, 54, 84, 0.1);
    width: 100%;
    max-width: 48px;
    transition: width 1s;
}
.quick-actions.white.right > *:hover {
    max-width: max-content;
}
.quick-actions.right > * svg {
    position: relative;
    z-index: 2;
    min-width: 24px;
}
.quick-actions.right > *:hover::after {
    width: 100%;
}
.quick-actions.right > .tooltip {
    display: none;
}
.quick-actions.right .tooltip {
    position: relative;
    z-index: 1;
    left: initial;
    bottom: initial;
    box-shadow: none;
    min-width: initial;
    background-color: var(--base-raised);
    color: var(--gray-70);
    transform: translateX(-12px);
    opacity: 0;
    padding: 0px 8px;
    transition-property: transform, opacity;
    transition-duration: .1s;
    transition-delay: .1s;
}
.quick-actions.right .tooltip-parent:hover .tooltip {
    opacity: 1;
    transform: translateX(0px);
}